<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ 'Smart Metering'|trans }}</title>

        {% stylesheets

            '@SmartMeteringAdminPanelBundle/Resources/public/css/font-icons.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/glyph.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

        {% stylesheets

            '@SinglePageClientBundle/Resources/public/css/reset.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/globalClasses.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/globalPageStyle.css'

            '@SinglePageClientBundle/Resources/public/css/popup-widget-1.0.css'
            '@SinglePageClientBundle/Resources/public/css/noty.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/ion.rangeSlider.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/selectBoxIt.css'
            '@SinglePageClientBundle/Resources/public/css/jquery-ui-custom.min.css'
            '@SinglePageClientBundle/Resources/public/css/inspire-tree.css'
            '@SinglePageClientBundle/Resources/public/css/jquery-datepicker-5.0.1.min.css'
            '@SinglePageClientBundle/Resources/public/css/jq-time-picker-1.6.3.css'
            '@SinglePageClientBundle/Resources/public/css/jq-grid-1.0.css'
            '@SinglePageClientBundle/Resources/public/css/jq-paginator-1.0.css'
            '@SinglePageClientBundle/Resources/public/css/jq-multiAutocomplete-1.0.css'
            '@SinglePageClientBundle/Resources/public/css/jq-checkboxgroup.css'
            '@SinglePageClientBundle/Resources/public/css/jq-quicksearch-1.0.css'
            '@SinglePageClientBundle/Resources/public/css/jquery.tooltipster.min.css'
            '@SinglePageClientBundle/Resources/public/css/tooltipster-follower.min.css'
            '@SinglePageClientBundle/Resources/public/css/superfish-1.7.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/components/jq-scheduler-1.0.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/layout.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/allPopups.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/crudModule.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/mainNav.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/forms.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/animate.css'

            '@SmartMeteringAdminPanelBundle/Resources/public/css/theme.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/responsive.css'

        filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}


        {# IMPORT MODULES CSS #}
        {% stylesheets
            
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/login.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/powerSchedule.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/estimatedLoadForm.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/estimatedLoadAppliance.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/powerForecast.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/powerAllocate.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/powerActivateDeactivateForm.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/powerAviability.css'
            '@SmartMeteringAdminPanelBundle/Resources/public/css/modules/feederLoad.css'

         filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

    </head>

    <body>

        <div id="popups-container" class="popup-background-filter display-none"></div>

        <div class="page-container">
            
            <!-- PAGE LOADER -->
            <section id="main-loader" class="main-loader">
                <div class="ui-loader-anim"></div>
                <h2 class="ui-loader-message">Loading...</h2>
            </section>
            
            <div id="login-module-holder"></div>

            <!-- APPLICATION CONTENT -->
            <div id="app-content-all-holder">

                <header class="clear-float shadow-box main-header">

                    <div class="go-left logo-container">
                        <span id="main-nav-sidebar-toggle-button" class="nav-toggle icon icon-53"></span>
                        <img width="109" height="47" src="{{ asset('images/logo-big.png') }}" />
                    </div>

                    {% include 'SmartMeteringAdminPanelBundle:Default:navigation.html.twig' %}

                </header>

                <div class="main-nav-section shadow-box closed"><!-- closed. remove closed class to opened it by default -->
                    <nav>
                        <ul class="btn-nav btn-nav-block clear-float">
                            <li class="active">
                                <span class="span-btn" data-module="RecentOrders">
                                    <span class="icon icon-5 imr-10"></span>
                                    <span class="data-title">Orders</span>
                                    <span class="noty-circle noty-circle-red">12</span>
                                </span>
                            </li>
                            <li>
                                <span class="span-btn" data-module="Customers">
                                    <span class="icon icon-41 imr-10"></span>
                                    <span class="data-title">Customers</span>
                                    <span class="noty-circle noty-circle-gray">0</span>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <!-- MODULE CONTENT -->
                <div id="main-module-container" class="main-container-wrap clear-float closed"></div><!-- closed. remove closed class to opened it by default -->

            </div>

        </div>        

        {% block javascriptLibs %}

            <!-- IMPORT JS LIBS -->

            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/lib/ResizeSensor.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-v2.2.4-min.js'

                '@SinglePageClientBundle/Resources/public/js/lib/jquery-ui-custom-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery.plugin.min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/handlebars-v4.0.5-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/moment-v2.10.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-prototypes.js'
                '@SinglePageClientBundle/Resources/public/js/lib/inspire-tree.min.js'

                '@SinglePageClientBundle/Resources/public/js/lib/html5shiv.js'

                '@SinglePageClientBundle/Resources/public/js/widgets/jq-tab-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-popup-widget-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jquery-noty-v2.3.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jquery.datepick.min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-grid-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-quickSearch-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-paginator-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-autocomplete-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-multiAutocomplete-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-checkboxgroup-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-collapse-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-popup-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jquery.datepick.min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jq-time-picker-1.6.3-min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jquery.tooltipster.min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/jquery.tooltipster-follower-plugin.min.js'
                '@SinglePageClientBundle/Resources/public/js/widgets/superfish-1.7.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/widgets/jquery.selectBoxIt.min.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/widgets/jq-scheduler-1.0.js'
                
             %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        <!-- SINGLE PAGE SITE JAVASCRIPT-->
        {% block javascriptBaseCode %}

            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/prototypes/string.js'
                '@SinglePageClientBundle/Resources/public/js/prototypes/number.js'

                
                '@SinglePageClientBundle/Resources/public/js/helpers/HCM.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/Datetime.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/handlebars.js'
                

                '@SinglePageClientBundle/Resources/public/js/helpers/grid/celledit/AutoComplete.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/grid/celledit/MultiAutoComplete.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/grid/celledit/CheckBoxGroup.js'

                '@SinglePageClientBundle/Resources/public/js/config/parameters.js'
                '@SinglePageClientBundle/Resources/public/js/config/application-services.js'
                '@SinglePageClientBundle/Resources/public/js/config/model-services.js'



                '@SinglePageClientBundle/Resources/public/js/base/Exception.js'
                '@SinglePageClientBundle/Resources/public/js/base/Constants.js'
                '@SinglePageClientBundle/Resources/public/js/base/Config.js'
                '@SinglePageClientBundle/Resources/public/js/base/RESTRequest.js'
                '@SinglePageClientBundle/Resources/public/js/base/LocalStorage.js'
                '@SinglePageClientBundle/Resources/public/js/base/Module.js'

                '@SinglePageClientBundle/Resources/public/js/base/Validator.js'
                '@SinglePageClientBundle/Resources/public/js/base/Model.js'
                '@SinglePageClientBundle/Resources/public/js/base/ModelRecordManager.js'
                '@SinglePageClientBundle/Resources/public/js/base/Controller.js'
                '@SinglePageClientBundle/Resources/public/js/base/HistoryManager.js'
                '@SinglePageClientBundle/Resources/public/js/base/ModuleManager.js'
                '@SinglePageClientBundle/Resources/public/js/base/ServiceManager.js'
                '@SinglePageClientBundle/Resources/public/js/base/Application.js'
                '@SinglePageClientBundle/Resources/public/js/base/Bootstrap.js'

                '@SinglePageClientBundle/Resources/public/js/app/LoginApplication.js'

                '@SinglePageClientBundle/Resources/public/js/modules/CrudModule.js'
                '@SinglePageClientBundle/Resources/public/js/modules/FormModule.js'
                '@SinglePageClientBundle/Resources/public/js/modules/RelationFieldFormModule.js'
                '@SinglePageClientBundle/Resources/public/js/modules/Login.js'

                '@SinglePageClientBundle/Resources/public/js/controllers/Authentication.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/Module.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/History.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/Crud.js'

                '@SinglePageClientBundle/Resources/public/js/controllers/form/BaseForm.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/form/RelationFieldForm.js'

                '@SinglePageClientBundle/Resources/public/js/events/model/Role.js'
                '@SinglePageClientBundle/Resources/public/js/events/model/Permission.js'
                '@SinglePageClientBundle/Resources/public/js/events/model/User.js'

             %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% block javascriptApplicationCode %}
            
            
            {% javascripts

                '@SmartMeteringAdminPanelBundle/Resources/public/js/config/parameters.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/config/parameters-local.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/config/model-services.js'


                '@SmartMeteringAdminPanelBundle/Resources/public/js/helpers/Scheduler.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/helpers/PowerScheduleScheduler.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/helpers/PowerAviabilityScheduler.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/helpers/FeederLoadScheduler.js'


                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/AdminPanelUser.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/City.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/BusinessDistrict.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerSource.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerPurchase.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Customer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/CustomerCategory.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/ApplianceType.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Appliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Tariff.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerAviability.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerSchedule.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerActivateDeactivate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/EstimatedLoad.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/EstimatedLoadAppliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/EstimatedConsumption.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/OfflineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/OnlineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/OfflinePrepaidVendReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/GridMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Promotion.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerForecast.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerAllocate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerAllocateData.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/FeederLoad.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Feeder.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/InjectionSubstation.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/PowerTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/ElectricPole.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/DistributionTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/Meter.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/events/model/CustomerNetworkData.js'
                

                '@SinglePageClientBundle/Resources/public/js/models/Role.js'
                '@SinglePageClientBundle/Resources/public/js/models/Permission.js'
                '@SinglePageClientBundle/Resources/public/js/models/User.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/AdminPanelUser.js'                
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/City.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/BusinessDistrict.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerPurchase.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerSource.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Customer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/CustomerCategory.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/ApplianceType.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Appliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Tariff.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerAviability.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerSchedule.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerActivateDeactivate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/EstimatedLoad.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/EstimatedLoadAppliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/EstimatedConsumption.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/OfflineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/OnlineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/OfflinePrepaidVendReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/GridMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Promotion.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerForecast.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerAllocate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerAllocateData.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/FeederLoad.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Feeder.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/InjectionSubstation.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/PowerTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/ElectricPole.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/DistributionTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/Meter.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/models/CustomerNetworkData.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Test.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Role.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/AdminPanelUser.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/City.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/BusinessDistrict.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerSource.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerPurchase.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Customer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/CustomerCategory.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/ApplianceType.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Appliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Tariff.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerAviability.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerSchedule.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerActivateDeactivate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/EstimatedLoad.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/EstimatedLoadAppliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/EstimatedConsumption.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/OfflineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/OnlineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/OfflinePrepaidVendReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/GridMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Promotion.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerForecast.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerAllocate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/FeederLoad.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Feeder.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/InjectionSubstation.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/PowerTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/ElectricPole.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/DistributionTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/Meter.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/CustomerNetworkData.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/RoleForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/AdminPanelUserForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/CityForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/BusinessDistrictForm.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerSourceForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerPurchaseForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/ElectricPoleForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/CustomerCategoryForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/ApplianceTypeForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/ApplianceForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/EstimatedLoadForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/EstimatedLoadApplianceForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/EstimatedConsumptionForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerForecastForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerAllocateForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/FeederLoadForm.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/TariffForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerScheduleForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerActivateDeactivateForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/FeederForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/InjectionSubstationForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/PowerTransformerForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/DistributionTransformerForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/MeterForm.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/CustomerNetworkDataForm.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/modules/form/filters/PowerScheduleFiltersForm.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/PowerSchedule.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/PowerPurchase.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/PowerAviability.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/EstimatedLoadAppliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/OfflineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/OnlineMeterReading.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/PowerForecast.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/FeederLoad.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/Role.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/PowerPurchase.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/DistributionTransformer.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/Meter.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/CustomerNetworkData.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/PowerSchedule.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/PowerActivateDeactivate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/EstimatedLoad.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/EstimatedLoadAppliance.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/PowerForecast.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/PowerAllocate.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/FeederLoad.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/controllers/form/filters/PowerSchedule.js'



                '@SmartMeteringAdminPanelBundle/Resources/public/js/app/SmartMeteringAdminPanelClient.js'

                '@SmartMeteringAdminPanelBundle/Resources/public/js/base/Bootstrap.js'
                '@SmartMeteringAdminPanelBundle/Resources/public/js/start.js'



             %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% include "SinglePageClientBundle:Default:notification.templates.html.twig" %}
        
        {% include 'SmartMeteringAdminPanelBundle:Popups:formPopupTemplate.html.twig' %}
        {% include 'SmartMeteringAdminPanelBundle:Popups:formPopupContentTemplate.html.twig' %}
        {% include 'SmartMeteringAdminPanelBundle:Popups:listPopupTemplate.html.twig' %}

    </body>
</html>