<nav class="main-header-nav">

    <ul id="main-menu" class="sf-menu go-right clear-float">
        
        <li class="top-menu-item">
            
            <a class="module-item">{{ 'Billing'|trans }}</a>

            <ul class="dropdown-menu-list first-level-menu-list">                
                
                <li>
                    <a class="module-item" data-module="Customer">{{ 'Customers'|trans }}</a>
                </li>

                <li>
                    <a class="module-item" data-module="EstimatedLoad">{{ 'Estimated Load'|trans }}</a>
                </li>

                <li>
                    <a class="module-item" data-module="EstimatedConsumption">{{ 'Estimated Consumption'|trans }}</a>
                </li>
                
                <li>
                    <a class="module-item" data-module="PowerAviability">{{ 'Power Aviability'|trans }}</a>
                </li>

                <li>
                    <a class="module-item" data-module="Tariff">{{ 'Tariff'|trans }}</a>
                </li>

                <li class="drop-down-module-item">

                    <a>{{ 'Mediation data'|trans }}</a>

                    <ul class="dropdown-menu-list">

                        <li>
                            <a class="module-item" data-module="OfflineMeterReading">{{ 'Offline Postpaid Meter Readings'|trans }}</a>
                        </li>

                        <li>
                            <a class="module-item" data-module="OnlineMeterReading">{{ 'Online Postpaid Meter Readings'|trans }}</a>
                        </li>
                        
                        <li>
                            <a class="module-item" data-module="OfflinePrepaidVendReading">{{ 'Offline Prepaid Vend - kwh'|trans }}</a>
                        </li>
                        
                        {#<li>
                            <a class="module-item" data-module="OfflineMeterReading">{{ 'Online Prepaid Vend & Load- kwh'|trans }}</a>
                        </li>#}

                        <li>
                            <a class="module-item" data-module="OfflineFeederReading">{{ 'Offline Feeder Reading'|trans }}</a>
                        </li>

                        <li>
                            <a class="module-item" data-module="OfflineDistributionTransformerReading">{{ 'Offline Distribution Transformer Reading'|trans }}</a>
                        </li>

                    </ul>

                </li>
                
                <li>
                    <a class="module-item" data-module="Promotion">{{ 'Promotions - Discounts or Rewards'|trans }}</a>
                </li>
                
                <li>
                    <a class="module-item" data-module="GridMeterReading">{{ 'Grid Meter Readings'|trans }}</a>
                </li>

            </ul>

        </li>

        <li class="top-menu-item">
            
            <a class="module-item">{{ 'Consumption'|trans }}</a>

            <ul class="dropdown-menu-list">
                <li>
                    <a class="module-item" data-module="PowerPurchase">{{ 'Power Purchase'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerForecast">{{ 'Power Forecast'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerAllocate">{{ 'Power Allocate'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerSchedule">{{ 'Power Schedule'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerActivateDeactivate">{{ 'Power Activate/Deactivate'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="FeederLoad">{{ 'Feeder Load'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="CustomerCategory">{{ 'Customer Category'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="ApplianceType">{{ 'Appliance Type'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="Appliance">{{ 'Appliance'|trans }}</a>
                </li>
            </ul>
        </li>

        <li class="top-menu-item">

            <a class="module-item">{{ 'Inventory'|trans }}</a>

            <ul class="dropdown-menu-list">
                <li>
                    <a class="module-item" data-module="Feeder">{{ 'Feeder'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerSource">{{ 'Power Source'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="InjectionSubstation">{{ 'Injection Substation'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="PowerTransformer">{{ 'Power Transformer'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="ElectricPole">{{ 'Electric Pole'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="DistributionTransformer">{{ 'Distribution Transformer'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="Meter">{{ 'Meter'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="CustomerNetworkData">{{ 'Customer Network Data'|trans }}</a>
                </li>
            </ul>
        </li>

        <li class="top-menu-item">
            
            <a class="module-item">{{ 'Region' |trans }}</a>

            <ul class="dropdown-menu-list">
                <li>
                    <a class="module-item" data-module="City">{{ 'Cities'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="BusinessDistrict">{{ 'Business Districts'|trans }}</a>
                </li>
            </ul>
        </li>

        <li class="top-menu-item">
            
            <a class="module-item">{{ 'Administrator'|trans }}</a>
            
            <ul class="dropdown-menu-list">
                <li>
                    <a class="module-item" data-module="AdminPanelUser">{{ 'Users' |trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="Role">{{ 'Roles'|trans }}</a>
                </li>
                <li>
                    <a class="module-item" data-module="Logout">Logout</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>