/*

EVENT LABEL CLASSES:
.jq-scheduler-event-green
.jq-scheduler-event-yellow
.jq-scheduler-event-awaiting

*/
.jq-scheduler {
    overflow: hidden;
    font-size: 0.95em;
    width: 100%;
	clear: both;
}

.jq-scheduler-time-label {
    float: left;
    position: relative;
    height: 2.6em;
    font-size: 0.85em;
    font-family: proximab, sans-serif;
}

.jq-scheduler-time-label::after {
    content: "";
    display: block;
    width: 1px;
    background-color: #E6E6E6;
    height: 2888px;
    position: absolute;
}

.jq-scheduler-time-label span {
    position: relative;
    left: -1.2em;
}

.jq-scheduler-row-label {
    height: 50px;
    line-height: 305%;
    border-bottom: 1px solid #F0F0F0;
    background-color: #CCCCCC;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jq-scheduler-time-labels {
    font-size: 1em;
    height: 44px;
    float: left;
    clear: right;
    width: 90%;
}

.jq-scheduler-rowlabels-cnt {
    float: left;
    width: 10%;
    font-weight: bold;
    font-family: proximab, sans-serif;
}

.jq-scheduler-events-cnt {
    float: left;
    width: 90%;
    background-color: transparent;
    background-size: 100% 100%;
    height:100%;
}

.jq-scheduler-event-row {
    height: 50px;
    line-height: 44px;
    border-bottom: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.jq-scheduler-event-row:first-child {
    border-top: 1px solid #E6E6E6;
}

.jq-scheduler-left-top-spacer {
    width: 10%;
    height: 2.6em;
    float: left;
    clear: left;
}

.jq-scheduler-event {
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    line-height: 197%;
    position: absolute;
    text-align: center;
}
    /*DIFFERENT EVENT CLASSES*/
    .jq-scheduler-event-green {
        background-color: #2bb3b3;
        border: 1px solid #145252;
        color: #ffffff;
    }
    .jq-scheduler-event-yellow {
        background-color: #dec066;
        border: 1px solid #d6a100;
        color: #ffffff;
    }
    .jq-scheduler-event-blue {
        background-color: #0AAEFF;
        border: 1px solid #00689C;
        color: #ffffff;
    }
    .jq-scheduler-event-gray {
        background-color: #e2e2e2;
        border: 1px solid #c4c4c4;
        color: #ffffff;
    }

    .jq-scheduler-event-green-waiting {
        color: #015555;
        background-color: #d8f8f8;
        border: 1px solid #1C8C8C;
    }
    .jq-scheduler-event-yellow-waiting {
        color: #DD6D06;
        background-color: #fcf2d6;
        border: 1px solid #DEC066;
    }
    .jq-scheduler-event-blue-waiting {
        color: #00AAFF;
        background-color: #E6F6FF;
        border: 1px solid #00AAFF;
    }

.jq-scheduler-event-single {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.jq-scheduler-event-split-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.jq-scheduler-event-split-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.jq-scheduler-controls-cnt {
    float: left;
    width: 5.9%;
}

.jq-scheduler-controls-row {
    height: 2.6em;
}