{% extends "SinglePageClientBundle:Default:filtersFormModule.html.twig" %}

{% block moduleId %}PowerScheduleFiltersForm-module{% endblock %}

{% block formClass %}form-field-set-label-top{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}
        
        {{ formFields.textInputSet('date', 'Date', '', 'PowerScheduleFilter') }}

        {% set powerTypeOptions = {
                0: {value: 'national', label: 'National'},
                1: {value: 'captive', label: 'Captive'},
                2: {value: 'embedded', label: 'Embedded'}
            }
        %}

        {{ formFields.selectInputSet('powerType', 'Power Type', 'Select power type', 'PowerScheduleFilter', powerTypeOptions) }}

        {{ formFields.selectInputSet('powerSource', 'Power Source', 'Select power source', 'PowerScheduleFilter') }}

        {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'PowerScheduleFilter') }}
        {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'PowerScheduleFilter') }}
        {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'PowerScheduleFilter') }}
        {{ formFields.selectInputSet('powerTransformerFeeder', 'Feeder', 'Select Feeder', 'PowerScheduleFilter') }}

{% endblock %}