{{ '<script id="form-popup-template" type="text/x-handlebars-template">

    <div class="form-popup-title">
        <p>{{title}}</p>
    </div>

     <div class="form-popup-content">
        {{> content }}
    </div>

</script>' | raw }}
