{{ '<script id="list-popup-template" type="text/x-handlebars-template">
    
    <div class="tools-popup-title">
        <p>{{title}}</p>
        <span class="button popup-close-button">X</span>
    </div>
    <div class="tools-popup-content">
        {{> content }}
    </div>

</script>' | raw }}