{% verbatim %}

    <script id="feeder-load-tooltip-template" type="text/x-handlebars-template">
        
        <div class="scheduler-event-tooltip-holder">

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Feeder: </label>
                <label class="scheduler-event-tooltip-item-value">{{feeder.name}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Date: </label>
                <label class="scheduler-event-tooltip-item-value">{{date}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Time: </label>
                <label class="scheduler-event-tooltip-item-value">{{start}} - {{end}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Load (kW): </label>
                <label class="scheduler-event-tooltip-item-value">{{load}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Created By: </label>
                <label class="scheduler-event-tooltip-item-value">{{createdBy.firstName}} {{createdBy.lastName}}</label>

            </div>

        </div>

    </script>

{% endverbatim %}