{% verbatim %}

<script id="scheduler-event-tooltip-template" type="text/x-handlebars-template">
    
    <div class="scheduler-event-tooltip-holder">

        <div class="scheduler-event-tooltip-item scheduler-event-tooltip-powertype">

            {{powerType}} 

            {{#ifExp status "===" "approved"}}
                - Approved
            {{else}}
                - Waiting Approval
            {{/ifExp}}

        </div>

        <div class="scheduler-event-tooltip-item">

            <label class="scheduler-event-tooltip-item-label">Time: </label>
            <label class="scheduler-event-tooltip-item-value">{{startTimeLabel}} - {{endTimeLabel}}</label>

        </div>

        {{#if powerSource}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Power Source: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerSource.name}}</label>

            </div>
        {{/if}}

        {{#if businessDistrict}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Business District: </label>
                <label class="scheduler-event-tooltip-item-value">{{businessDistrict.name}}</label>

            </div>
        {{/if}}

        {{#if injectionSubstation}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Injection Substation: </label>
                <label class="scheduler-event-tooltip-item-value">{{injectionSubstation.name}}</label>

            </div>
        {{/if}}

        {{#if powerTransformer}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Power Transformer: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerTransformer.name}}</label>

            </div>
        {{/if}}

        {{#if powerTransformerFeeder}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Power Transformer Feeder: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerTransformerFeeder.name}}</label>

            </div>
        {{/if}}

        {{#if distributionTransformer}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Distribution Transformer: </label>
                <label class="scheduler-event-tooltip-item-value">{{distributionTransformer.name}}</label>

            </div>
        {{/if}}
        
        {{#if distributionTransformerFeeder}}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Distribution Transformer Feeder: </label>
                <label class="scheduler-event-tooltip-item-value">{{distributionTransformerFeeder.name}}</label>

            </div>
        {{/if}}

        {{#if repeatType }}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Repeat Type: </label>
                <label class="scheduler-event-tooltip-item-value">{{repeatType}}</label>

            </div>
        {{/if}}

        {{#if repeatEnd }}
            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Repeat End: </label>
                <label class="scheduler-event-tooltip-item-value">{{repeatEndLabel}}</label>

            </div>
        {{/if}}

    </div>

</script>

{% endverbatim %}