{% verbatim %}

    <script id="power-forecast-tariff-data-template" type="text/x-handlebars-template">
        
        <div class="title">Tariff data</div>

        <div class="power-forecast-table-holder">

            <table class="jq-grid" cellspacing="0" cellpadding="0" border="0" tabindex="1">

                <thead>

                    <th class="jq-grid-header">Column name</th>

                    {{#each tariffCodes}}
                        <th class="jq-grid-header">{{this}}</th>
                    {{/each}}

                </thead>

                <tbody>

                    <tr>
                        <td>Number of customers</td>
                        {{#each data}}
                            <td>{{#formatNumber numberOfCustomers}}{{/formatNumber}}</td>
                        {{/each}}
                    </tr>

                    <tr>
                        <td>Forecast rate</td>
                        {{#each data}}
                            <td>{{#formatNumber forecastRate}}{{/formatNumber}}</td>
                        {{/each}}
                    </tr>
                    
                    <tr>
                        <td>Allocation on Grid</td>
                        {{#each data}}
                            <td>{{#formatNumber shareOfPowerAllocationOnGrid}}{{/formatNumber}}</td>
                        {{/each}}
                    </tr>

                    <tr>
                        <td>Allocation per Customer</td>
                        {{#each data}}
                            <td>{{#formatNumber shareOfPowerAllocationPerCustomer}}{{/formatNumber}}</td>
                        {{/each}}
                    </tr>

                    <tr>
                        <td>Tariff price</td>
                        {{#each data}}
                            <td>&#8358; {{#formatNumber tariffsPrice}}{{/formatNumber}}</td>
                        {{/each}}
                    </tr>

                </tbody>

            </table>
        </div>
    </script>

{% endverbatim %}

{% verbatim %}

    <script id="power-forecast-business-district-tariff-data-template" type="text/x-handlebars-template">
        
        <div class="title">Business District Tariff Data</div>

        {{#each groupedData}}

            <div class="power-forecast-table-holder">
                <table class="jq-grid" cellspacing="0" cellpadding="0" border="0" tabindex="1">

                    <thead>

                        <th class="jq-grid-header">{{businessDistrict.name}}</th>

                        {{#each ../tariffCodes}}
                            <th class="jq-grid-header">{{this}}</th>
                        {{/each}}

                    </thead>

                    <tbody>
                        <tr>
                            <td>Number of customers</td>
                            {{#each data}}
                                <td>{{#formatNumber numberOfCustomers}}{{/formatNumber}}</td>
                            {{/each}}
                        </tr>

                        <tr>
                            <td>Allocation in kilowatt hour</td>
                            {{#each data}}
                                <td>{{#formatNumber powerAllocationInKilowattHour}}{{/formatNumber}}</td>
                            {{/each}}
                        </tr>
                        
                        <tr>
                            <td>Allocation in kilowatt hour per day</td>
                            {{#each data}}
                                <td>{{#formatNumber powerAllocationInKilowattHourPerDay}}{{/formatNumber}}</td>
                            {{/each}}
                        </tr>

                        <tr>
                            <td>Daily charge</td>
                            {{#each data}}
                                <td>&#8358; {{#formatNumber dailyCharge}}{{/formatNumber}}</td>
                            {{/each}}
                        </tr>

                        <tr>
                            <td>Monthly charge</td>
                            {{#each data}}
                                <td>&#8358; {{#formatNumber monthlyCharge}}{{/formatNumber}}</td>
                            {{/each}}
                        </tr>
                    </tbody>

                </table>

            </div>

        {{/each}}
    </script>

{% endverbatim %}

{% verbatim %}
    <script id="power-forecast-business-district-totals-data-template" type="text/x-handlebars-template">
        
        <div class="title">Business District Totals Data</div>

        <div class="power-forecast-table-holder">
            <table class="jq-grid" cellspacing="0" cellpadding="0" border="0" tabindex="1">

                <thead>

                    <th class="jq-grid-header">Business District</th>
                    <th class="jq-grid-header">Number of customers</th>
                    <th class="jq-grid-header">Allocation in Kilowatt Hour</th>
                    <th class="jq-grid-header">Allocation in Kilowatt Hour per Day</th>
                    <th class="jq-grid-header">Daily charge</th>
                    <th class="jq-grid-header">Monthly charge</th>

                </thead>

                <tbody>

                    {{#each data}}
                        <tr>
                            <td>{{ businessDistrict.name }}</td>
                            <td>{{#formatNumber numberOfCustomers}}{{/formatNumber}}</td>
                            <td>{{#formatNumber powerAllocationInKilowattHour}}{{/formatNumber}}</td>
                            <td>{{#formatNumber powerAllocationInKilowattHourPerDay}}{{/formatNumber}}</td>
                            <td>&#8358; {{#formatNumber dailyCharge}}{{/formatNumber}}</td>
                            <td>&#8358; {{#formatNumber monthlyCharge}}{{/formatNumber}}</td>
                        </tr>
                    {{/each}}

                </tbody>

            </table>

        </div>
    </script>

{% endverbatim %}