{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}AdminPanelUser-module{% endblock %}
{% block moduleTitle %}Admin Panel User{% endblock %}

{% block mainViewComponent %}
    <table id="users-AdminPanelUser-grid"></table>
{% endblock %}