{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}ApplianceType-module{% endblock %}
{% block moduleTitle %}Appliance Type{% endblock %}

{% block mainViewComponent %}
    <table id="applianceTypes-ApplianceType-grid"></table>
{% endblock %}