{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Appliance-module{% endblock %}
{% block moduleTitle %}Appliance{% endblock %}

{% block mainViewComponent %}
    <table id="appliances-Appliance-grid"></table>
{% endblock %}