{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}BusinessDistrict-module{% endblock %}
{% block moduleTitle %}Business Districts{% endblock %}

{% block mainViewComponent %}
    <table id="businessDistricts-BusinessDistrict-grid"></table>
{% endblock %}