{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}City-module{% endblock %}
{% block moduleTitle %}City{% endblock %}

{% block mainViewComponent %}
    <table id="cities-City-grid"></table>
{% endblock %}

