{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}CustomerNetworkData-module{% endblock %}
{% block moduleTitle %}Customer Network Data{% endblock %}

{% block mainViewComponent %}
    <table id="customersNetworkData-CustomerNetworkData-grid"></table>
{% endblock %}

