{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Customer-module{% endblock %}
{% block moduleTitle %}Customer{% endblock %}


{# No module controls for customers because its not editable #}

{% block moduleCrudControls %}{% endblock %}



{% block mainViewComponent %}

    <table id="customers-Customer-grid"></table>
{% endblock %}

