{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}CustomerCategory-module{% endblock %}
{% block moduleTitle %}Customer Category{% endblock %}

{% block mainViewComponent %}
    <table id="customerCategories-CustomerCategory-grid"></table>
{% endblock %}

