{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}DistributionTransformer-module{% endblock %}
{% block moduleTitle %}Distribution Transformer{% endblock %}

{% block mainViewComponent %}
    <table id="distributionTransformers-DistributionTransformer-grid"></table>
{% endblock %}