{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}ElectricPole-module{% endblock %}
{% block moduleTitle %}Electric Pole{% endblock %}

{% block mainViewComponent %}
    <table id="electricPoles-ElectricPole-grid"></table>
{% endblock %}