{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}EstimatedLoad-module{% endblock %}
{% block moduleTitle %}Estimated Load{% endblock %}

{% block mainViewComponent %}
    <table id="estimatedLoads-EstimatedLoad-grid"></table>
{% endblock %}

