{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}EstimatedConsumption-module{% endblock %}
{% block moduleTitle %}Estimated Consumption{% endblock %}

{% block mainViewComponent %}
    <table id="estimatedConsumptions-EstimatedConsumption-grid"></table>
{% endblock %}

