{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}EstimatedLoadAppliance-module{% endblock %}
{% block moduleTitle %}Appliances{% endblock %}

{% block moduleQuickSearch %}{% endblock %}

{% block moduleHeader %}

    {{ parent() }}

    <span id="total-load-holder">
        <span class="total-load-label">Total Load: </span>
        <span class="total-load-value">0</span>
    </span>

{% endblock %}

{% block moduleCrudControlsContent %}
    <span data-role="delete-record" class="button delete-button">
        <i class="glyphicon glyphicon-remove"></i>
        Delete
    </span>
{% endblock %}


{% block mainViewComponent %}

    <table id="estimatedLoadAppliances-EstimatedLoadAppliance-grid"></table>
    
{% endblock %}

{% block paging %}{% endblock %}

{% block module %}
    
    <div id="estimated-load-appliance-all-content-holder">{{ parent() }}</div>
    <div id="estimated-load-appliance-form-module" data-module="Modules.Form.EstimatedLoadApplianceForm"></div>

{% endblock %}