{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}FeederLoad-module{% endblock %}
{% block moduleTitle %}Feeder Load{% endblock %}

{% block content %}

    <div id="feeder-load-form-module" data-module="Modules.Form.FeederLoadForm"></div>

    <div id="power-aviability-scheduler-controls-holder" class="clear-float">
        <span data-role="prevous-day-button" class="button go-left previous-day-button">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Previous Day
        </span>
        <div class="date-range-display">
            <span class="current-date"></span>
        </div>
        <span data-role="next-day-button" class="button go-right next-day-button">
            Next Day
            <i class="glyphicon glyphicon-arrow-right"></i>
        </span>
    </div>

    <div id="feederLoads-FeederLoad-scheduler"></div>

{% endblock %}

{% block moduleFooterContainer %}
    
    {{ parent() }}

    {% include "SmartMeteringAdminPanelBundle:HandlebarsTemplates:feederLoadTooltipTemplate.html.twig" %}

{% endblock %}
