{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Feeder-module{% endblock %}
{% block moduleTitle %}Feeder{% endblock %}

{% block mainViewComponent %}
    <table id="feeders-Feeder-grid"></table>
{% endblock %}

