{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}GridMeterReading-module{% endblock %}
{% block moduleTitle %}Grid Meter Reading{% endblock %}


{% block moduleCrudControlsContent %}

{% endblock %}


{% block mainViewComponent %}

    <table id="gridMeterReadings-GridMeterReading-grid"></table>

{% endblock %}


