{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}InjectionSubstation-module{% endblock %}
{% block moduleTitle %}Injection Substation{% endblock %}

{% block mainViewComponent %}
    <table id="injectionSubstations-InjectionSubstation-grid"></table>
{% endblock %}