{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}Login-module{% endblock %}
{% block moduleHolder %}#login-module-holder{% endblock %}

{% block content %}

<div class="loginContainer">

    <div class="loginLogoWrap">
        <img width="219" height="93" alt="Application name" src="{{ asset('images/logo-big.png') }}">
    </div>

    <div class="login-form-holder login-box">

        <h1 class="loginRedTitle">Login<b class="loginArrow"></b></h1>

        <div class="block marginbottom center">
            <p>Please complete all the required fields in the form below, so you can login</p>
        </div>

        <div class="form-status-msg" id="login-form-error-message-container"></div>

        <form id="login-form" class="form-box crud-module-form">

            <div class="form-field-set">
                <i class="glyphicon glyphicon-user"></i>
                <input class="form-field-input login" id="login-form-username" type="text" name="username" placeholder="Username" />
            </div>
            <div class="form-field-set">
                <i class="glyphicon glyphicon-asterisk"></i>
                <input class="form-field-input login" id="login-form-password" type="password" name="password" placeholder="Password" />
            </div>
            <span id="login-button" class="button loginButton span-btn input-btn">Login</span>
        </form>
    </div>

</div>

{% endblock %}
