{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Meter-module{% endblock %}
{% block moduleTitle %}Meter{% endblock %}

{% block mainViewComponent %}
    <table id="meters-Meter-grid"></table>
{% endblock %}