{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}OfflineMeterReading-module{% endblock %}
{% block moduleTitle %}Offline Meter Reading{% endblock %}


{% block moduleCrudControlsContent %}

    <span data-role="approve-record" class="button approve-btn">
        <i class="glyphicon glyphicon-check"></i>
        Approve
    </span>

    <span data-role="view-image" class="button view-image">
        <i class="glyphicon glyphicon-picture"></i>
        View Image
    </span>    

{% endblock %}


{% block mainViewComponent %}

    <table id="offlineMeterReadings-OfflineMeterReading-grid"></table>

{% endblock %}

{% block footer %}
    
    {{ parent() }}

    {{ '<script id="offline-meter-reading-image-content-popup" type="text/x-handlebars-template">
        <image src="{{imageSrc}}" class="offline-meter-reading-image" />
    </script>' | raw }}

    <div id="offline-meter-reading-image-popup"
        data-template="list-popup-template"
        data-content-template="offline-meter-reading-image-content-popup"
        class="list-popup animated display-none confirm-popup"></div>

    <div id="approve-offline-meter-reading-popup"
        data-template="form-popup-template"
        data-content-template="form-popup-content-template"
        class="form-popup animated display-none confirm-popup"></div>

{% endblock %}

