{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}OfflinePrepaidVendReading-module{% endblock %}
{% block moduleTitle %}Offline Prepaid Vend Reading{% endblock %}


{% block moduleCrudControlsContent %}

{% endblock %}


{% block mainViewComponent %}

    <table id="offlinePrepaidVendReadings-OfflinePrepaidVendReading-grid"></table>

{% endblock %}


