{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}OnlineMeterReading-module{% endblock %}
{% block moduleTitle %}Online Meter Reading{% endblock %}


{% block moduleCrudControlsContent %}


{% endblock %}


{% block mainViewComponent %}

    <table id="onlineMeterReadings-OnlineMeterReading-grid"></table>

{% endblock %}

{% block footer %}
    
    {{ parent() }}


{% endblock %}

