{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerSource-module{% endblock %}
{% block moduleTitle %}Power Sources{% endblock %}

{% block mainViewComponent %}
    <table id="powerSources-PowerSource-grid"></table>
{% endblock %}