{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerAllocate-module{% endblock %}
{% block moduleTitle %}Power Allocate{% endblock %}


{% block mainViewComponent %}
    <table id="powerAllocates-PowerAllocate-grid"></table>
{% endblock %}