{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerPurchase-module{% endblock %}
{% block moduleTitle %}Power Purchase{% endblock %}

{% block moduleCrudControlsContent %}
  
    <span data-role="approve-record" class="button approve-btn">
        <i class="glyphicon glyphicon-check"></i>
        Approve
    </span>

{{ parent() }}
{% endblock %}

{% block mainViewComponent %}
    <table id="powerPurchases-PowerPurchase-grid"></table>
{% endblock %}

{% block footer %}

    {{ parent( )}}

<div id="approve-power-purchase-popup"
    data-template="form-popup-template"
    data-content-template="form-popup-content-template"
    class="form-popup animated display-none confirm-popup"></div>

{% endblock %}