{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block moduleId %}PowerSchedule-module{% endblock %}
{% block moduleTitle %}Power Schedule{% endblock %}

{% block moduleCrudControlsContent %}
  
    <span data-role="approve-record" class="button approve-btn">
        <i class="glyphicon glyphicon-check"></i>
        Approve
    </span>

{{ parent() }}
{% endblock %}

{% block mainViewComponent %}


<div id="power-schedule-view-tab-holder">
    <ul id="power-schedule-view-tab" class="design-studio-navigation go-left clear-float">

        <li data-role="tab-button" data-tab-content="#power-schedules-grid-tab-content" class="tab-button go-left">
            <span class="button">
                <i class="glyphicon glyphicon-align-justify"></i>
                Grid View
            </span>
        </li>

        <li data-role="tab-button" data-tab-content="#power-schedules-scheduler-tab-content" class="tab-button go-right">
            <span class="button">
                <i class="glyphicon glyphicon-time"></i>
                Scheduler View
            </span>
        </li>

    </ul>
</div>

<div id="power-schedule-filters-form-module" data-module="Modules.Form.Filters.PowerScheduleFiltersForm"></div>

<div id="power-schedules-view-tab-content-holder">
    
    <div id="power-schedules-grid-tab-content">
        <table id="powerSchedules-PowerSchedule-grid"></table>
    </div>

    <div id="power-schedules-scheduler-tab-content">

        <div id="scheduler-controls-holder" class="clear-float">
            <span data-role="prevous-week-button" class="button go-left previous-week-button">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Previous Week
            </span>
            <div class="date-range-display">
                <span class="start-date"></span>
                -
                <span class="end-date"></span>
            </div>
            <span data-role="next-week-button" class="button go-right next-week-button">
                Next Week
                <i class="glyphicon glyphicon-arrow-right"></i>
            </span>
        </div>

        <div id="powerSchedulesWeeklyPreview-PowerSchedule-scheduler"></div>
    </div>

</div>
    
{% endblock %}

{% block footer %}

    {{ parent( )}}

<div id="approve-power-schedule-popup"
    data-template="form-popup-template"
    data-content-template="form-popup-content-template"
    class="form-popup animated display-none confirm-popup"></div>

<div id="powerSchedulePreview-PowerSchedule-scheduler"></div>

{% include "SmartMeteringAdminPanelBundle:HandlebarsTemplates:powerScheduleTooltipTemplate.html.twig" %}

{% endblock %}