{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerAviability-module{% endblock %}
{% block moduleTitle %}Power Aviability{% endblock %}

{% block formClass %}form-field-set-label-top{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'PowerAviability') }}
    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'PowerAviability') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'PowerAviability') }}
    {{ formFields.selectInputSet('powerTransformerFeeder', 'Power Transformer Feeder', 'Select Power Transformer Feeder', 'PowerAviability') }}
    
{% endblock %}

{% import _self as formModule %}

{% block formControlButtons %}

    {{ formModule.formButton('form-search-feeders', 'Search', 'submit-button search-feeders-button', 'glyphicon-search') }}

{% endblock %}

{% block moduleFooterContainer %}
    
    {{ parent() }}

    <div id="power-aviability-scheduler-controls-holder" class="clear-float">
        <span data-role="prevous-week-button" class="button go-left previous-week-button">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Previous Week
        </span>
        <div class="date-range-display">
            <span class="start-date"></span>
            -
            <span class="end-date"></span>
        </div>
        <span data-role="next-week-button" class="button go-right next-week-button">
            Next Week
            <i class="glyphicon glyphicon-arrow-right"></i>
        </span>
    </div>

    <div id="feederActivatesDeactivates-PowerAviability-scheduler"></div>

    {{ '<script id="power-aviability-tooltip-template" type="text/x-handlebars-template">
    
        <div class="scheduler-event-tooltip-holder">

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Time: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerActivateTimeLabel}} - {{powerDeactivateTimeLabel}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Activated By: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerActivate.createdBy.firstName}} - {{powerActivate.createdBy.lastName}}</label>

            </div>

            <div class="scheduler-event-tooltip-item">

                <label class="scheduler-event-tooltip-item-label">Deactivated By: </label>
                <label class="scheduler-event-tooltip-item-value">{{powerDeactivate.createdBy.firstName}} - {{powerDeactivate.createdBy.lastName}}</label>

            </div>

            {{#if powerActivate.businessDistrict.businessDistrict}}
                <div class="scheduler-event-tooltip-item">

                    <label class="scheduler-event-tooltip-item-label">Business District: </label>
                    <label class="scheduler-event-tooltip-item-value">{{powerActivate.businessDistrict.name}}</label>

                </div>
            {{/if}}

            {{#if powerActivate.injectionSubstation}}
                <div class="scheduler-event-tooltip-item">

                    <label class="scheduler-event-tooltip-item-label">Injection Substation: </label>
                    <label class="scheduler-event-tooltip-item-value">{{powerActivate.injectionSubstation.name}}</label>

                </div>
            {{/if}}

            {{#if powerActivate.powerTransformer}}
                <div class="scheduler-event-tooltip-item">

                    <label class="scheduler-event-tooltip-item-label">Power Transformer: </label>
                    <label class="scheduler-event-tooltip-item-value">{{powerActivate.powerTransformer.name}}</label>

                </div>
            {{/if}}

            {{#if powerActivate.powerTransformerFeeder}}
                <div class="scheduler-event-tooltip-item">

                    <label class="scheduler-event-tooltip-item-label">Power Transformer Feeder: </label>
                    <label class="scheduler-event-tooltip-item-value">{{powerActivate.powerTransformerFeeder.name}}</label>

                </div>
            {{/if}}

        </div>

    </script>' | raw }}

{% endblock %}
