{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerForecast-module{% endblock %}
{% block moduleTitle %}Power Forecast{% endblock %}

{% block moduleCrudControlsContent %}
    
    <span data-role="view-record" class="button view-btn">
        <i class="glyphicon glyphicon-eye-open"></i>
        View
    </span>

    <span data-role="create-record" class="button create-btn">
        <i class="glyphicon glyphicon-plus-sign"></i>
        New
    </span>

{% endblock %}

{% block mainViewComponent %}
    <table id="powerForecasts-PowerForecast-grid"></table>
{% endblock %}


{% block content %}

    {{ parent() }}

    <span id="close-forecast-details-view-button" class="button form-button close-button">
        <i class="glyphicon glyphicon-ban-circle"></i>
        Close
    </span>

    <div id="forecast-details-table-holder"></div>

{% endblock %}

{% block footer %}

    {{ parent( )}}

    {% include 'SmartMeteringAdminPanelBundle:HandlebarsTemplates:powerForecastDetailsTemplates.html.twig' %}

{% endblock %}