{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerTransformer-module{% endblock %}
{% block moduleTitle %}Power Transformer{% endblock %}

{% block mainViewComponent %}
    <table id="powerTransformers-PowerTransformer-grid"></table>
{% endblock %}