{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}PowerActivateDeactivate-module{% endblock %}
{% block moduleTitle %}Power Activate/Deactivate{% endblock %}

 {% block moduleCrudControlsContent %}

    <span data-role="create-record" class="button create-btn">
        <i class="glyphicon glyphicon-plus-sign"></i>
        New
    </span>

{% endblock %}

{% block mainViewComponent %}
    <table id="powerActivatesDeactivates-PowerActivateDeactivate-grid"></table>
{% endblock %}