{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Promotion-module{% endblock %}
{% block moduleTitle %}Promotion{% endblock %}


{% block moduleCrudControlsContent %}

{% endblock %}


{% block mainViewComponent %}

    <table id="promotion-Promotion-grid"></table>

{% endblock %}


