{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Role-module{% endblock %}
{% block moduleTitle %}Roles{% endblock %}

{% block mainViewComponent %}
    <table id="roles-Role-grid"></table>
{% endblock %}