{% extends "SinglePageClientBundle:Default:crudModule.html.twig" %}

{% block moduleId %}Tariff-module{% endblock %}
{% block moduleTitle %}Tariff{% endblock %}

{% block mainViewComponent %}
    <table id="tariffs-Tariff-grid"></table>
{% endblock %}

