{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}Test-module{% endblock %}

{% block content %}

    <div data-module="Modules.City"></div>
    <div data-module="Modules.BusinessDistrict"></div>

{% endblock %}