/***********************************************************************
                            ALL POPUPS
***********************************************************************/
.popup-background-filter{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .95);
}
/* Popups - Light popup*/

.popup-filter-custom {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 998;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.popup-main-window {
    display: block;
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    width: 600px;
    max-height: 600px;
    margin: auto;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 999;

    -webkit-box-shadow: 0 1px 3px #bbb;
    -moz-box-shadow: 0 1px 3px #bbb;
    box-shadow: 0 1px 3px #bbb;

    overflow-y: scroll;
}
.popup-inner {
    position: relative;
}
.close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #24c4c4;
}
.popup-body {
    padding: 10px 20px;
}
.popup-block {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.popup-title {
    width: 100%;
    padding: 10px 0 20px;
    font-size: 18px;
    color: #24c4c4;
    text-align: center;
}
.popup-text-title{
    font-size: 22px;
    margin-bottom: 10px;
}
.popup-list{
    padding-left: 20px;
}
.inner-popup-list{
    padding-left: 40px;
}
.popup-list li{
    font-size: 14px;
    margin-bottom: 10px;
    list-style-type: disc;
}
.popup-text{
    font-size: 16px;
    margin-bottom: 10px;
}
.image-guideline,
.image-rules,
.terms-conditions,
.privacy-policy,
.popup-filter-custom {
    display: none;
}
.image-guideline.visiblePopup,
.image-rules.visiblePopup,
.terms-conditions.visiblePopup,
.privacy-policy.visiblePopup,
.popup-filter-custom.visiblePopup {
    display: block;
}
/* Tools popup container */
.tools-popup{
    position: fixed;
    width: 1200px;
    height: 600px;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 999;
    margin: -300px auto 0;
    background-color: #fff;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);

    border-bottom: 5px solid #24c4c4;
}

.tools-popup-title {
    color: #24c4c4;
    font-size: 1.5em;
    padding: 20px;
}
.tools-menu {
    width: 100%;
    min-height: 10px;
    background-color: #24c4c4;
}
.tools-popup-images {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.tools-popup-images-crop-container {
    width: 102%;
    height: 490px!important;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Facebook popup container */
.social-albums-container {
    position: relative;
    width: 100%;
    margin: 20px 0 0 10px;
}
.import-controls {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 300px;
    z-index: 1;
    padding: 7px 0 4px 0;
    color: #24c4c4;
    text-align: right;
    background-color: transparent;
    font-size: 25px;
}
.import-load-more-button {
    position: relative;
    display: block;
    width: 380px;
    margin-left: -194px;
    left: 50%;
    padding: 20px;
    border: 1px solid #24c4c4;
    text-align: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background-color: #24c4c4;
}
.import-load-more-button:hover {
    border: 1px solid #24c4c4;
    color: #24c4c4;
    background-color: #fff;
}
.import-photo-container {
    width: 100%!important;
}
.item-relative-container{
    position: relative;
    overflow: hidden;
}
.album-photo-item label {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 36px;
    padding: 10px;
    background-color: #24c4c4;
    color: #fff;
}
.album-photo-item {
    position: relative!important;
    float: left;
    top: 0!important;
    left: 0!important;
    width: 31%;
    height: 224px;
    margin: 0 0 10px 10px;
    overflow: hidden;
    border: 1px solid #24c4c4;
}
.album-photo-item img{
    width: 100%;
}
.popup-loader-screen{
    display: block;
    margin-top: 213px;
    margin-bottom: 213px;
    text-align: center;
}
.form-inputs-container {
    padding: 20px 0;
    background-color: white;
}
.form-popup, .list-popup {
    position: absolute;
    top: 18%;
    left: 50%;
    z-index: 100;
    width: 700px;
    margin: 0 auto 0 -310px;
    border-bottom: 5px solid #24c4c4;
    background-color: #fff;
    padding: 1em;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}
.form-popup-title, .tools-popup-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #24c4c4;
    text-align: center;
}
.form-popup-title p, .tools-popup-title p {
    padding-bottom: 20px;
}
.form-popup-content, .tools-popup-content {
    position: relative;
    width: 100%;
}
.form-popup-content .form-field-input {
    display: block;
    float: none;
    width: 80%;
    margin: 0 auto 10px auto;
    padding: 10px 10px;
    border: 1px solid #eee;
    font-size: 15px;
}
.form-popup-btn-container{
    padding-bottom: 20px;
    text-align: center;
}

.list-popup .popup-close-button {
    float: right;
    font-size: 0.8em;
    padding: 0.4em;
}

.list-popup .popup-close-button:hover {
    background-color: red;
}

.tools-popup-title p {
    float: left;
    width: 95%;
}

.offline-meter-reading-image {
    max-height: 500px;
    max-width: 800px;
}