.main-nav-section{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 299px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-nav-section.closed{
    left: -299px;
}
.case-logo-main{
    position: relative;
    height: 150px;
    padding-top: 5%;
    border-bottom: 1px solid #F5F5F5;
    text-align: center;
}
.nav-toggle{
    position: absolute;
    left: 0;
    top: 0;
    height: 56px;
    padding: 18px 18px;
    border-right: 1px solid #eee;
    cursor: pointer;
    color: #485566;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.case-logo-main img{
    max-width: 200px;
    max-height: 90%;
}
.main-container-wrap{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 83px 0 0 299px;
    background-color: #F5F5F5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-container-wrap.closed{
    padding: 83px 0 0 0;
}

.module-crud-controls {
    padding: .625em .25em;
}
.module-crud-controls .button {
    display: inline-block;
}

.module-crud-controls .update-btn {
    background-color: #07a6f5;
}

.module-crud-controls .update-btn:hover {
    background-color: #32B9FC;
}

.module-controls > * {
    float: left;
}


.module-controls [role="button"],
.module-controls [role="button"]:visited,
.module-controls-back-button-wrapper [role="button"],
.module-controls-back-button-wrapper [role="button"]:visited,
.form-controls [role="button"],
.form-controls [role="button"]:visited {
    float: left;
    margin: .5em .25em;
}
/* quick search */
.module-quick-search,
.module-search-container {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: .5em .25em;
    margin-top: 2px;
}
.module-quick-search .jq-quick-search-input,
.module-quick-search .jq-quick-search-reset-btn,
.module-search-container input[type="text"],
.module-search-container input[type="search"] {
    float: left;
    margin: 0;
}
.module-quick-search .jq-quick-search-input,
.module-search-container input[type="text"],
.module-search-container input[type="search"] {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
}
.module-quick-search .jq-quick-search-reset-btn {
    margin-left: .5em;
}
/* END quick search */


.module-controls [role="button"]:first-child,
.module-controls-back-button-wrapper [role="button"]:first-child {
    margin-left: 1px;
}
.module-controls [role="button"]:last-child,
.module-controls-back-button-wrapper [role="button"]:last-child {
    margin-right: 1px;
}


/* view record controls */
.view-record-controls label {
    float: left;
    min-width: 6em;
    color: #0bc4c5;
    padding: .75em;

    border: 1px solid #c2c2c2;
    border-left: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    text-align: center;
    background: #fff;
}
    .view-record-controls label:empty {
        display: none;
    }


.view-record-controls a,
.view-record-controls a:visited {
    float: left;
    margin: 0;
    color: #0bc4c5;
    background: #fff;

    border: 1px solid #c2c2c2;
    border-left: 1px solid transparent;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.view-record-controls a:hover,
.view-record-controls a:focus,
.view-record-controls a:active {
    background: #0bc4c5;
    color: #fff;
}
.view-record-controls a.inactive,
.view-record-controls a.inactive:visited,
.view-record-controls a.inactive:hover,
.view-record-controls a.inactive:focus,
.view-record-controls a.inactive:active {
    opacity: 1;
    background: #F4F4F4;
    color: #83C4C4;
    border: 1px solid #c2c2c2;
    border-left: none;
}
.view-record-controls a:first-child,
.view-record-controls a.inactive:first-child {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-left: 1px solid #c2c2c2;
}
.view-record-controls a:last-child,
.view-record-controls a.inactive:last-child {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

/* END view record controls */



.module-header-container .moduleTitle {
    float: left;
    clear: left;
    line-height: 2.5em;
    margin: 0;
    padding-left: 1em;
}

.module-header-container .form-title {
    float: left;
    line-height: 2.5em;
    clear: right;
}

.module-form-cnt .form-status-msg,
.module-form-cnt form {
    clear: both;
}

.module-header-container .module-controls,
.module-header-container .module-controls-back-button-wrapper {
    float: right;
    clear: right;
}
.main-view-component { clear: both; }

/* prompt dialog */
#promptDialog .prompt-input {
    display: block;
    margin: 1em auto 0;
    text-align: center;
}
#promptDialog .prompt-status-msg {
    text-align: center;
}

/* END prompt dialog */

.module-controls-back-button-wrapper,
.module-controls,
.view-record-controls {
    position: relative;
    overflow: hidden;
}
.view-record-controls {
    float: right;
    clear: both;
}

.module-controls,
.view-record-controls {
    position: relative;
    overflow: hidden;
}