/*Forms*/
.form-box {
    width: 100%;
    padding: 0 50px;
}
.form-field,
.login-form-input {
    position: relative;
    padding-top: 20px;
}
.form-field label,
.login-form-input label {
    position: absolute;
    top: 27px;
    left: 2px;
    z-index: 1;
    font-size: 16px;
    color: #555;
    transition: all 0.3s;
}
.form-field label.full-input,close-button
.login-form-input label.full-input {
    top: 14px;
    color: #24c4c4;
    font-size: 12px;
}
.form-field label.full-input-blur,
.login-form-input label.full-input-blur {
    color: #909090;
}
.form-field input,
.login-form-input input {
    position: relative;
    z-index: 2;
    padding: 10px 10px 5px 10px;
    color: #555;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    background-color: transparent;
}
.form-field .green-border,
.login-form-input .green-border {
    content: '';
    display: block;
    bottom: 0;
    left: 50%;
    z-index: 2;
    width: 0;
    height: 2px;
    opacity: 0;
    background-color: #24c4c4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.form-field .green-border.full,
.login-form-input .green-border.full {
    left: 0;
    width: 100%;
    opacity: 1;
}
.form-field .green-border.full-blur,
.login-form-input .green-border.full-blur {
    background-color: #909090;
}
.form-box .input-btn {
    display: block;
    width: 200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #485566;
}
/*** FORMS ***/

.form-field-set {
    display: block;
    position: relative;
    clear: both;
    margin-bottom: .5em;
    overflow: hidden;
    padding: 0.5em 1em;
}
.form-controls {
    float: right;
}
.form-status-msg {
    padding: .75em;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
    text-align: center;
    margin: 1em auto;
    position: relative;
}
.form-status-msg .text-content {
    padding: 0 2.6875em;
}
.form-status-msg .close-btn-form-status-msg {
    background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
    width: 27px;
    height: 27px;
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: red;
    text-indent: -9999999px;
}
.no-touch .form-status-msg .close-btn-form-status-msg:hover,
.form-status-msg .close-btn-form-status-msg:focus,
.form-status-msg .close-btn-form-status-msg:active {
    color: #fff;
    background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
    border: none;
    opacity: .5;
}


/* FORMS */

.crud-module-form .form-field-input[type="text"],
.crud-module-form .form-field-input[type="number"],
.crud-module-form .form-field-input[type="password"],
.crud-module-form .form-field-input[type="search"],
.crud-module-form .form-field-input[type="date"],
.crud-module-form .form-field-input[type="datetime"],
.crud-module-form .form-field-input[type="text"].form-control,
.crud-module-form .form-field-input[type="number"].form-control,
.crud-module-form .form-field-input[type="password"].form-control,
.crud-module-form .form-field-input[type="search"].form-control,
.crud-module-form .form-field-input[type="date"].form-control,
.crud-module-form .form-field-input[type="datetime"].form-control,
.crud-module-form .form-field-input,
.crud-module-form .form-field-input,
.crud-module-form .form-field-input.form-control,
.crud-module-form button {
    background: #fff;
    color: #75767b;
    font-size: 1em;
    line-height: 1em;
    height: 2.5em;
    outline: none;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.crud-module-form .form-field-input,
.crud-module-form .form-field-input.form-control {
    /*-webkit-appearance: none;*/
    
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: #fff;
    color: #75767b;
    font-size: 1em;
    line-height: 1em;
    height: auto;
    outline: none;
    border: 1px solid #ddd;
    padding: .5714285714285714em .75em;
    max-width: 100%;
    /*background: #fff url(../images/selectBoxArrowDown.png) 95% 50% no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/
}
.crud-module-form .form-field-input[type="radio"].form-control,
.crud-module-form .form-field-input[type="checkbox"].form-control {
    width: auto;
    height: auto;
    color: #24c4c4;
    outline: none;
}
label + input[type="radio"].form-control,
label + input[type="checkbox"].form-control {
    display: inline-block;
    margin-left: 1em;
}
.crud-module-form .form-field-input[multiple],
.crud-module-form .form-field-input[multiple].form-control {
    background: #fff;
    height: 15em;
}
.crud-module-form .form-field-input[type="text"]:focus,
.crud-module-form .form-field-input[type="password"]:focus,
.crud-module-form .form-field-input[type="search"]:focus,
.crud-module-form .form-field-input[type="date"]:focus,
.crud-module-form .form-field-input[type="datetime"]:focus,
.crud-module-form .form-field-input:focus,
.crud-module-form .form-field-input:focus,
.form-control:focus {
    border-color: #24c4c4;
    -webkit-box-shadow: 0 0 4px #24c4c4;
    -moz-box-shadow: 0 0 4px #24c4c4;
    box-shadow: 0 0 4px #24c4c4;
}
.crud-module-form .form-field-input.inactive {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
.formSpacer {
    clear: both;
    width: 100%;
    height: 10px;
}
.form-controls {
    display: block;
    overflow: hidden;
    position: relative;
    clear: both;
    margin-bottom: .5em;
}
.form-controls {
    float: right;
}

.form-controls .button {
    display: inline-block;
    margin: .5em .25em
}

.close-button, .reset-button {
    background-color: #FF0000;
}

.close-button:hover, .reset-button:hover {
    background-color: #FF3D3D;
}

.form-3-columns .record-view-field-set {
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
    float: left;
    clear: none;
    width: 31%;
    margin-right: 2%;
}
.form-3-columns .record-view-field-set:nth-child(3n + 1) {
    clear: left;
}
.form-3-columns .record-view-field-set:nth-child(3n) {
    margin-right: 0;
    clear: right;
}

.form-8-columns .record-view-field-set {
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
    float: left;
    clear: none;
    width: 31%;
    margin-right: 2%;
}
.form-8-columns .record-view-field-set:nth-child(8n + 1) {
    clear: left;
}
.form-8-columns .record-view-field-set:nth-child(8n) {
    margin-right: 0;
    clear: right;
}
/* forms layout */

.form-controls {
    padding: .5em 0em;
}
.form-field-set:nth-child(odd),
.form-field-set:nth-child(even) {
    width: 50%;
    float: none;
    clear: both;
    margin-right: 0;
}
.form-2-columns .form-field-set:nth-child(odd) {
    width: 48%;
    float: left;
    clear: left;
    margin-right: 0;
}
.form-2-columns .form-field-set:nth-child(even) {
    width: 48%;
    float: right;
    clear: right;
    margin-right: 0;
}
.form-field-set .form-field-label {
    float: left;
    clear: left;
    width: 50%;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: .75em;
    text-align: right;
}
.form-field-set .form-field-input,
.form-field-set .custom-select-wrapper,
.form-field-set .form-field-widget {
    float: right;
    clear: right;
    width: 50%;
}
.form-3-columns .form-field-set {
    float: left;
    clear: none;
    width: 31%;
    margin-right: 2%;
    padding: .125em 1em;
}
.form-3-columns .form-controls {
    margin-right: 3%;
}
.form-3-columns .form-field-set:nth-child(3n + 1) {
    clear: left;
}
.form-3-columns .form-field-set:nth-child(3n) {
    margin-right: 0;
    clear: right;
}

.form-6-columns .form-field-set {
    float: left;
    clear: none;
    width: 16.6%;
    margin-right: 2%;
    padding: .125em 1em;
}

.form-6-columns .form-controls {
    margin-right: 3%;
}
.form-6-columns .form-field-set:nth-child(6n + 1) {
    clear: left;
}
.form-6-columns .form-field-set:nth-child(6n) {
    margin-right: 0;
    clear: right;
}

.form-8-columns .form-field-set {
    float: left;
    clear: none;
    width: 12.5%;
    margin-right: 2%;
    padding: .125em 1em;
}

.form-8-columns .form-controls {
    margin-right: 3%;
}
.form-8-columns .form-field-set:nth-child(8n + 1) {
    clear: left;
}
.form-8-columns .form-field-set:nth-child(8n) {
    margin-right: 0;
    clear: right;
}
/* END selected record single view */
/* custom checkbox */

.form-errors-vertical .form-field-set {
    margin-bottom: 1.5em;
}

.custom-checkbox-container {
    overflow: hidden;
}
.custom-checkbox-container input[type="checkbox"] {
    /*display: none; does not work in IE8*/
    
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom-checkbox-container label {
    display: block;
    position: relative;
    font-weight: bold;
    padding: .25em 1.5em!important;
    background: url(/images/customSelectOff.png) no-repeat 0 50%;
    cursor: pointer;
}
.custom-checkbox-container input[type="checkbox"]:checked + label {
    background: url(/images/customSelectOn.png) no-repeat 0 50%;
}
.centered-custom-checkbox.custom-checkbox-container label {
    background: url(/images/customSelectOff.png) no-repeat 50% 50%;
}
.centered-custom-checkbox.custom-checkbox-container input[type="checkbox"]:checked + label {
    background: url(/images/customSelectOn.png) no-repeat 50% 50%;
}
/* inside form field */

.form-field-set .form-field-input-checkbox {
    float: none;
    clear: both;
    width: 100%;
}

.ui-autocomplete.ui-menu .ui-menu-item{
    font-size: 1em;
    padding: 0.571em 0.75em;
}

input[type="text"].ui-autocomplete-input.item-selected {
    border: 2px solid #24c4c4;
    font-size: 1em;
    font-weight: bold;
}

input[type="text"].ui-autocomplete-loading {
    background-image: url(/images/loader-32x32.gif);
    background-repeat: no-repeat;
    background-position: 99% center;
}

/* END custom checkbox */


form input.form-input-error,
form select.form-input-error,
form textarea.form-input-error {
    border: 2px solid #C49595;
}

form input.form-input-error:focus,
form select.form-input-error:focus,
form textarea.form-input-error:focus {
    border: 2px solid #C49595;
    box-shadow: 0 0 4px #C49595;
}


form .button .button-label {
    margin-left: 5px;
}

.form-field-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/*** FORM ERRORS ARE SHOWN WITH tooltipster ***/
.form-field-error {
    display: none;
}

form.form-field-set-label-top .form-field-set {
    clear: none;
    display: table-cell;
    float: none;
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    vertical-align: bottom;
    width: auto;
}


form.form-field-set-label-top .form-field-set .form-field-label {
    clear: both;
    display: block;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 0.25em;
    width: 100%;
}

form.form-field-set-label-top .form-field-set .form-field-input {
    clear: both;
    display: block;
    width: 100%;
}

form.form-field-set-label-top .form-controls-set {
    width: auto;
}

form.form-field-set-label-top .form-controls-set .form-controls {
    margin: 0;
    padding: 0;
}

form.form-field-set-label-top .form-controls .button {
    margin: 0;
    float: left;
}

.deactivate-button {
    background-color: #e1e1e1;
    color: #808080;
}

.deactivate-button:hover, .deactivate-button:focus, .deactivate-button:active {
    background-color: #eaeaea;
    color: #808080;
}