/***********************************************************************
							GLOBAL CLASSES
***********************************************************************/
@font-face {
    font-family: "fanfare";
    src:url("/fonts/icofont/fanfare.eot");
    src:url("/fonts/icofont/fanfare.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icofont/fanfare.woff") format("woff"),
    url("/fonts/icofont/fanfare.ttf") format("truetype"),
    url("/fonts/icofont/fanfare.svg#fanfare") format("svg");
    font-weight: normal;
    font-style: normal;
}

.go-left{
    float: left;
}
.go-right{
    float: right;
}
.clear-float:after{
    content: '';
    display: block;
    clear: both;
}
.display-none{
    display: none;
}
.pointer-indicator{
    cursor: pointer;
}
span.span-btn{
    display: inline-block;
    cursor: pointer;
}
.no-padding{
    padding: 0!important;
}
/* Checkbox Style */
input[type="checkbox"]{
    /*	display: none; */
    margin-bottom: 10px;
}
.squared-input{
    margin: 10px 0 15px 0;
    position: relative;
}
.squared-input label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border: 1px solid #485566;
    border-radius: 2px;
}
.squared-input label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #485566;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .squared-input label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.squared-input input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.squared-span{
    display: inline-block;
    margin-top: 3px;
    padding-left: 26px;
    color: #555;
}
.squared-input span{
    font-size: 16px;
}
/*Shadow Box*/
.shadow-box{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.noty-circle{
    display: block;
    position: absolute!important;
    right: 20px;
    top: 18px;
    width: 20px;
    height: 20px;
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}
.noty-circle-red{
    background-color: #f00;
    color: #fff;
}
.noty-circle-gray{
    background-color: #eee;
    color: #555;
}

.status-color-pending{
    color: #FFB11D;
    font-weight: bold;
}
.status-color-canceled{
    color: #F73535;
    font-weight: bold;
}
.status-color-approved{
    color: #a7c144;
    font-weight: bold;
}
.status-color-no-info, .status-color-no-info .box-subtitle{
    color: #DCDCDC!important;
    font-weight: bold;
}
.page-title-dinamic{
    font-size: 22px;
    padding: 16px;
    display: block;
    color: #fff;
}
.page-header{
    position: relative;
    width: 100%;
    padding: 30px 30px;
}
.page-header h2{
    float: left;
    font-size: 30px;
    line-height: 45px;
}
.page-content{
    position: relative;
    padding: 0px 30px;
}
.page-content:after{
    content: '';
    display: block;
    clear: both;
}
/*Page Layout*/
.page-flex{
    /*position: relative;*/
    width: 100%;
    padding-left: 430px;
}
.page-flex-absolute{
    /*position: absolute;*/
    width: 400px;
    top: 0px;
    left: 0px;
    z-index: 1;
    float: left;
}
.page-full{
    width: 100%;
}
/* Grid*/
.row{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}
.full-box, .half-box, .third-box{
    display: block;
    float: left;
    min-height: 1px;
    padding: 0 10px;
}
.full-box{
    width: 100%;
}
.half-box{
    width: 50%;
}
.third-box{
    width: 33.33%;
}
/*Boxes*/
.content-box{
    padding: 10px;
    background-color: #fff;
    
    border-radius: 3px;
    overflow: hidden;
}
.content-box-info{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-bottom: 3px solid #485566;
}
.content-box-info .row{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.content-box-info .row:last-child{
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
.content-box-info .form-inputs-container{
    margin-bottom: 15px;
    padding: 0;
}
.content-box-info .form-field-label {
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.content-box-info .form-field-input {
    border: 1px solid #485566;
    width: 100%;
    font-size: 12px;
}
.content-box-info input.form-field-input{
    padding: 7px 10px;
}
.content-box-header{
    padding: 15px 10px;
    color: #fff;
    background-color: #485566;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.content-box-content{
    padding: 10px;
}
.box-subtitle{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}
.box-content{
    display: block;
    font-size: 12px;
}
.flex-menu-left li{
    position: relative;
    width: 100%;
    padding: 15px 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: all 0.3s;
}
.flex-menu-left li:last-child{
    border-bottom: none;
    padding-bottom: 5px;
}
.flex-menu-left li:first-child{
    padding-top: 5px;
}
.flex-menu-left li:before{
    content: 't';
    font-family: 'fanfare';
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: all 0.3s;
    color: #485566;
    z-index: 1;
}
.flex-menu-left li.active, .no-touch .flex-menu-left li:hover{
    color: #485566;
    padding-left: 30px;
    font-weight: bold;
}
.flex-menu-left li.active:before, .no-touch .flex-menu-left li:hover:before{
    font-weight: normal;
    opacity: 1;
    left: 10px;
}
.image-gallery-box{
    padding: 0;
}
.image-box-third{
    position: relative;
    float: left;
    width: 33.33%;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.image-box-third:nth-child(3n){
    border-right: none;
}
.image-box{
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 10px 0;
}
.image-box p{
    margin-bottom: 10px;
}
.image-box img{
    width: 70%;
}
.image-edit-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    transition: all 0.5s;
}
.image-box-third:hover .image-edit-box{
    opacity: 0.75;
    border-width: 10px 50px 40px 10px;
}
.image-title-box{
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 10px;
    z-index: 3;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: all 1s;
}
.no-touch .image-box-third:hover .image-title-box{
    text-align: left;
}
.edit-image, .delete-image, .change-image{
    position: absolute;
    right: -50px;
    z-index: 3;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.edit-image{
    top: 20px;
}
.delete-image{
    top: 50px;
    transition-delay: 0.2s;
}  
.change-image{
    top: 80px;
    transition-delay: 0.4s;
}
.no-touch .image-box-third:hover .edit-image, .no-touch .image-box-third:hover .delete-image, .no-touch .image-box-third:hover .change-image{
    right: 10px;
}
.card-design-frontside-holder{
    border-right: 1px solid #eee;
}
.card-design-frontside-holder, .card-design-backside-holder{
    padding: 0 20px 20px 20px;
    text-align: center;
}
.card-design-frontside-holder p, .card-design-backside-holder p{
    font-size: 20px;
    padding: 10px 0 20px 0;
}
.card-design-frontside-holder img, .card-design-backside-holder img{
    width: 400px;
}
.approve-box{
    text-align: right;
}
/*Style select box it*/
.cell-edit{
    position:relative;
}
.cell-edit .selectboxit-container{
    position: absolute;
    top: 0;
    left: 0;
}
.cell-edit .selectboxit-container span, .cell-edit .selectboxit-container .selectboxit-options a {
    height: 36px;
    line-height: 36px;
}
.cell-edit .selectboxit-btn{
    border: none;
    border-bottom: 1px solid #485566;
}
.cell-edit .selectboxit-container .selectboxit-options{
    top: 35px!important;
}
.cell-edit .selectboxit-list, .form-field-set .selectboxit-list{
    border: 1px solid #485566;
}
.cell-edit .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor, .form-field-set .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
    color: #ffffff;
    background-color: #485566;
}
/**/



.box-arrow-up:after, .box-arrow-up:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


/*** CSS BOX Arrow UP ****/
.box-arrow-up:after {
    border-color: rgba(213, 208, 207, 0);
    border-bottom-color: #d5d0cf;
    border-width: 12px;
    margin-left: -12px;
}
.box-arrow-up:before {
    border-color: rgba(194, 0, 0, 0);
    border-bottom-color: #c20000;
    border-width: 15px;
    margin-left: -15px;
}


/*** CSS BOX Arrow RIGHT ****/
.box-arrow-right:after, .box-arrow-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-arrow-right:after {
    border-color: rgba(213, 208, 207, 0);
    border-left-color: #d5d0cf;
    border-width: 12px;
    margin-top: -12px;
}
.box-arrow-right:before {
    border-color: rgba(194, 0, 0, 0);
    border-left-color: #c20000;
    border-width: 15px;
    margin-top: -15px;
}


/*** CSS BOX Arrow BOTTOM ****/
.box-arrow-bottom:after, .box-arrow-bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-arrow-bottom:after {
    border-color: rgba(213, 208, 207, 0);
    border-top-color: #d5d0cf;
    border-width: 12px;
    margin-left: -12px;
}
.box-arrow-bottom:before {
    border-color: rgba(194, 0, 0, 0);
    border-top-color: #c20000;
    border-width: 15px;
    margin-left: -15px;
}


/*** CSS BOX Arrow LEFT ****/
.box-arrow-left:after, .box-arrow-left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-arrow-left:after {
    border-color: rgba(213, 208, 207, 0);
    border-right-color: #d5d0cf;
    border-width: 12px;
    margin-top: -12px;
}
.box-arrow-left:before {
    border-color: rgba(194, 0, 0, 0);
    border-right-color: #c20000;
    border-width: 15px;
    margin-top: -15px;
}


.module-disabled {
    opacity: 0.5;
    pointer-events: none;
}