body{
    background-color: #F5F5F5;
}

/*Btns*/
.user-btn.span-btn{
    position: relative;
    padding: 15px 40px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.user-btn:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.3s;
}
.no-touch .user-btn:hover:before{
    opacity: 1;
}
@-webkit-keyframes filterAnimation{
    0%{ opacity: 0; }
    30%{opacity: 1;}
    70%{width: 100%;}
    100%{ opacity: 0;}
}
@-moz-keyframes filterAnimation{
    0%{ opacity: 0; }
    30%{opacity: 1;}
    70%{width: 100%;}
    100%{ opacity: 0;}
}
@-o-keyframes filterAnimation{
    0%{ opacity: 0; }
    30%{opacity: 1;}
    70%{width: 100%;}
    100%{ opacity: 0;}
}
@keyframes filterAnimation{
    0%{ opacity: 0; }
    30%{opacity: 1;}
    70%{width: 100%;}
    100%{ opacity: 0;}
}
.user-btn span.filter{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}
.user-btn.clicked-btn span.filter{
    animation-name: filterAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.user-btn.span-btn:after{
    position: absolute;
    top: 14px;
    right: 25px;
    opacity: 0;
    display: block;
    color: #fff;
    font-family: "fanfare" !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.no-touch .user-btn.span-btn:hover:after{
    right: 15px;
    opacity: 1;
}
.delete-btn{
    background-color: #F73535;
    color: #fff;
}
.approve-btn{
    background-color: #a6c143;
    color: #fff;
}

.notsure-btn{
    background-color: #FFD33D;
    color: #fff;
}
.notsure-btn:after{
    content: 'L';
}
.reject-btn{
    background-color: #F73535;
    color: #fff;
}
.reject-btn:after{
    content: 'n';
}

.csv-btn{
    background-color: #485566;
    color: #fff;
}
.csv-btn:after{
    content: 'g';
}
.save-btn{
    background-color: #a6c143;
    color: #fff;
}
.save-btn:after{
    content: 'g';
}
.upload-btn{
    background-color: #485566;
    color: #fff;
}
.upload-btn:after{
    content: 'f';
}
.border-box-wrap{
    width: 100%;
    text-align: center;
    border-top: 1px solid #eee;
}
.border-box-btn:before{
    display: none!important;
}
.border-box-btn:after{
    right: 15px!important;
    opacity: 1!important;
    color: #485566!important;
    font-size: 14px;
    top: 15px!important;
}
.border-box-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 40px!important;
    text-align: center;
    color: #485566;
    background: transparent!important;
}
.no-touch .border-box-btn:hover, .no-touch .border-box-btn:hover:after{
    color: #485566;
}

.span-btn-txt{
    vertical-align: middle;
}
.green-btn{
    padding: 10px 20px;
    border: 1px solid #80962D;
    color: #fff;
    background: #A6C143;
}
.no-touch .green-btn:hover{
    cursor: pointer;
    border: 1px solid #A6C143;
    color: #A6C143;
    background: #fff;
}
.gray-btn{
    padding: 10px 20px;
    border: 1px solid #B2B2B2;
    color: #4F4F4F;
    background: #eee;
}
.no-touch .gray-btn:hover{
    color: #fff;
    background: #555;
}
.label-btn{
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.label-btn input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-left: 183px;
}


.jq-tab {
    margin-bottom: 2em;
    margin-top: 1em;
    padding-left: 1em;
}

.tab-button {
    margin-right: 1em;
}

.tab-button .button {
    background-color: #76777b;
}

.tab-button.active .button  {
    background-color: #24c4c4;
}