* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    -webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
    -webkit-user-select:none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

::-moz-selection{background: #EE3B24; color: #fff;}
::-webkit-selection{background: #EE3B24; color: #fff;}
::selection{background: #EE3B24; color: #fff;}


html,
body {
    height: 100%;
    min-width: 768px;
}

body {
    background: #f4f4f4;
    color: #76777b;
}
a {
    cursor: pointer;
}
a, input, textarea, button, select, form, .button {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

ul {
    padding: 0;
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


.hidden { display: none; }
.block {display: block;}
.marginbottom { margin-bottom: 1em;}
.center {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}



/* buttons */
.button,
.button:visited {
    display: block;
    padding: .75em;
    color: #fff;
    background-color: #24c4c4;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
    cursor: pointer;
    line-height: 1;
    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .button:hover,
    .button:focus,
    .button:active {
        color: #fff;
        background-color: #29dbdb;
        text-decoration: none;
    }
.buttonSilver,
.buttonSilver:visited {
    color: #75767b;
    background-color: #f4f4f4;
    border: 1px solid #e9e9e9;
}

.buttonWhite,
.buttonWhite:visited {
    color: #75767b;
    background-color: #fff;
    border: 1px solid #c2c2c2;
}
    .buttonWhite:hover,
    .buttonWhite:focus,
    .buttonWhite:active {
        text-decoration: none;
        color: #8D8F93;
        background-color: #BAFCFC;
    }

.newElementMainPageButton {
    padding-left: 3em;
    padding-right: 3em;
}

[role="button"][disabled]:hover,
[role="button"][disabled]:focus,
[role="button"][disabled]:active,
.module-controls [role="button"][disabled]:hover,
.module-controls [role="button"][disabled]:focus,
.module-controls [role="button"][disabled]:active,
button[disabled],
button.inactive,
.button[disabled],
.button.inactive,
.inactive.button[disabled]:hover,
.inactive.button[disabled]:focus,
.inactive.button[disabled]:active {
    opacity: .5;
    color: grey;
    background-color: #ddd;
    border: 1px solid #c2c2c2;
    cursor: not-allowed;
}
.inactive.buttonWhite:hover,
.inactive.buttonWhite:focus,
.inactive.buttonWhite:active {
    opacity: .5;
    color: grey;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    cursor: not-allowed;
}

form label {
    text-transform: capitalize;
}

.noPadding { padding: 0; }
.noPaddingLeft { padding-left: 0; }
.noPaddingRight { padding-right: 0; }


    /* button icons */
    .button .editButtonIcon,
    .button .deleteButtonIcon,
    .button .communicateButtonIcon {
        display: inline;
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        margin-top: -.125em;
    }
    .button .editButtonIcon {
        background: url(images/editButtonIcon.png) 0 100% no-repeat;
    }
    .button .deleteButtonIcon {
        background: url(images/deleteButtonIcon.png) 0 100% no-repeat;
    }
    .button .communicateButtonIcon {
        background: url(images/communicateButtonIcon.png) 0 100% no-repeat;
    }
    /* END button icons */

/* END buttons */



/* TYPO */



body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1em; /* 16px */
    line-height: 1.2500em; /* 20px */
    margin: 0 0 1.2500em 0;
}
/* 24px - The quick brown fox jumps over the lazy dog */
h1 {
    font-size: 1.5000em; /* 24px */
    line-height: 1.6667em; /* 40px */
    margin-top: 0.8333em;  margin-bottom: 0;
    clear: both;
}
/* 22px - The quick brown fox jumps over the lazy dog */
h2 {
    font-size: 1.3750em; /* 22px */
    line-height: 1.8182em; /* 40px */
    margin-top: 0.9091em;  margin-bottom: 0;
    clear: both;
}
/* 20px - The quick brown fox jumps over the lazy dog */
h3 {
    font-size: 1.2500em; /* 20px */
    line-height: 1.0000em; /* 20px */
    margin-top: 1.0000em;  margin-bottom: 0;
    clear: both;
}
/* 18px - The quick brown fox jumps over the lazy dog */
h4 {
    font-size: 1.1250em; /* 18px */
    line-height: 1.1111em; /* 20px */
    margin-top: 1.1111em;  margin-bottom: 0;
}
/* 16px - The quick brown fox jumps over the lazy dog */
h5 {
    font-size: 1.0000em; /* 16px */
    line-height: 1.2500em; /* 20px */
    margin-top: 1.2500em;  margin-bottom: 0;
}
/* 14px - The quick brown fox jumps over the lazy dog */
h6 {
    font-size: 0.8750em; /* 14px */
    line-height: 1.4286em; /* 20px */
    margin-top: 1.4286em;  margin-bottom: 0;
}

.colorRed { color: #e32525; }
.bold,
b,
strong {
    font-weight: bold;
}
.italic,
i,
em { font-style: italic; }


/* END TYPO */


/* JQUERY UI OVERRIDES */
.ui-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.ui-widget-overlay {
    background: #000;
    opacity: .7;
}
.ui-widget-content {
    background: #fff;
}
.ui-dialog {
    -webkit-box-shadow: 0 0 1em #000;
    -moz-box-shadow: 0 0 1em #000;
    box-shadow: 0 0 1em #000;

    -webkit-border-radius: .375em!important;
    -moz-border-radius: .375em!important;
    border-radius: .375em!important;

    padding-bottom: 1em;
}
    .ui-widget-header {
        background: #ee3b24;
        color: #fff;
        border: none;
    }
.ui-dialog .ui-dialog-buttonpane {
    border: none;
    float: left;
    clear: both;
    margin-left: 50%;
}
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: left;
        clear: both;
        margin-left: -50%;
    }
        .ui-dialog .ui-dialog-buttonpane button {
            float: left;
            min-width: 5.5em;
            padding: .35em 1em;
        }
            .ui-priority-secondary,
            .ui-widget-content .ui-priority-secondary,
            .ui-widget-header .ui-priority-secondary {
                opacity: 1;
            }
        .ui-state-default,
        .ui-widget-content .ui-state-default {
            display: block;
            color: #fff;
            background: #24c4c4;
            -webkit-border-radius: .375em;
            -moz-border-radius: .375em;
            border-radius: .375em;
            cursor: pointer;
            line-height: 1;
            white-space: nowrap;

            border: 1px solid #24c4c4;
            font-weight: normal;
        }
            .ui-state-focus,
            .ui-state-hover,
            .ui-widget-content .ui-state-focus,
            .ui-widget-content .ui-state-hover {
                color: #fff;
                background: #3ddddd;
                border: none;
                font-weight: normal;
            }
        .ui-state-active,
        .ui-widget-content .ui-state-active {
            background: #3ddddd;
            -webkit-box-shadow: 0 0 1px #777;
            -moz-box-shadow: 0 0 1px #777;
            box-shadow: 0 0 1px #777;
        }
            .ui-button-text-only .ui-button-text {
                padding: 0;
            }

    /* reset button hover style in widget header -- like month < > in datepicker */
    .ui-widget-header .ui-state-focus,
    .ui-widget-header .ui-state-hover {
        background: none;
        color: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /* text message padding inside dialog box */
    .ui-dialog .ui-dialog-titlebar {
        background: none;
        padding-bottom: 2.5em;
    }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
        display: none;
    }
    .ui-dialog .ui-dialog-content {
        padding: 1em;
    }
        .dialog-message {
            font-weight: bold;
            text-align: center;
            color: #111;
        }

    /* button in dialog title bar */
    .ui-dialog-titlebar .ui-state-default {
        margin-top: 0;
        padding: .75em;
        background: #ddd;
        border: 1px solid #bbb;
        color: #76777b;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
        box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    }
    /* X button in dialog box title bar */
    .ui-dialog-titlebar .ui-dialog-titlebar-close {
        background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
        width: 27px;
        height: 27px;

        position: absolute;
        top: .5em;
        right: .5em;
        margin: 0;

        padding: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: red;
        text-indent: -9999999px;
    }
        .ui-dialog-titlebar .ui-dialog-titlebar-close > * { display: none; }
        .ui-dialog-titlebar .ui-dialog-titlebar-close:hover,
        .ui-dialog-titlebar .ui-dialog-titlebar-close:focus,
        .ui-dialog-titlebar .ui-dialog-titlebar-close:active {
            color: #fff;
            background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
            border: none;
            opacity: .5;
        }

/* END JQUERY UI OVERRIDES */





/* content containers */

.containerTopBottomPadded {
    display: block;
    clear: both;
    padding: 1em 0;
}

#contentAll {
    margin: auto;
    height: 100%;
    position: relative;
    display: none;
}
    #sideMenu {
        position: absolute;
        width: 14em;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;

        background: #e32525;
        color: #fff;

        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -o-transition: all .1s;
        -ms-transition: all .1s;
        transition: all .1s;
    }
    #sideMenu.collapsedSidebar {
        width: 2.5em;
        opacity: .75;
    }
    #collapseSidebarWrapper {
        display: block;
        position: absolute;
        left: .25em;
        top: 5.5em;
        width: 2em;
        height: 2em;
    }
    #collapseSidebarWrapper.sticky {
        position: fixed;
        top: 0;
    }
        #collapseSidebarButton {
            display: block;
            width: 2em;
            height: 2em;
            background-color: transparent;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: 2em 2em;
            -moz-background-size: 2em 2em;
            -o-background-size: 2em 2em;
            background-size: 2em 2em;
            background-image: url(/images/buttonIcons/layout.collapse.left.png);
            opacity: .75;
        }
        .collapsedSidebar #collapseSidebarButton {
            background-image: url(/images/buttonIcons/layout.collapse.right.png);
        }
        #collapseSidebarButton:hover,
        #collapseSidebarButton:focus,
        #collapseSidebarButton:active {
            opacity: 1;
        }
    #moduleContainer {
        position: relative;
        clear: both;
        overflow: auto;
        padding: 1em;
        margin-left: 14em;

        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -o-transition: all .1s;
        -ms-transition: all .1s;
        transition: all .1s;
    }
    #moduleContainer.collapsedSidebar { margin-left: 2.5em; }
        #moduleContainer form {
            overflow: hidden;
            padding-bottom: 1em;
        }
        #moduleContainer .module-holder {
            position: relative;
            height: 100%;
        }
    .module-header-container,
    .module-footer-container {
        position: relative;
        overflow: hidden;
        padding: .5em 1em;
        clear: both;
    }
        /***
        .module-footer-container .module-paging-cnt {
            float: left;
            clear: left;
            margin: 0;
        }
        .module-footer-container .view-record-controls {
            float: right;
            clear: right;
            margin: 0;
        }
        **/
    .module-content-container {
        position: relative;
        clear: both;
        overflow: auto;
    }

    .view-record-container {
        padding: .5em 1em;
    }

/* END content containers */

/* FOOTER */
footer {
    display: block;
    clear: both;
    padding: .5em 1em;
    margin: auto;
    text-align: center;

    position: absolute;
    bottom: 0;
    left: 14em;
    right: 0;
}
#moduleContainer.collapsedSidebar + footer { left: 2.5em; }
    footer p { margin-bottom: 0; }
/* END FOOTER */





/***********************************************************************
								HEADER
***********************************************************************/

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 1em;
    background: #fff;
    border: none;
    color: #555;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0 0 3px #bbb;
    -moz-box-shadow: 0 0 3px #bbb;
    box-shadow: 0 0 3px #bbb;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.main-header:before,
.main-header:after {
    content: " ";
    display: table;
    clear: both;
}

    #headerLogoLink {
        display: block;
        float: left;
        clear: left;
    }
        #headerLogoLink img {
            display: block;
        }





/* module, buttons */



.ui-widget-content a[role="button"],
.ui-widget-content a[role="button"]:visited,
[role="button"],
[role="button"]:visited,
.module-controls [role="button"],
.module-controls [role="button"]:visited {
    display: block;
    padding: .75em;
    color: #fff;
    background-color: #24c4c4;
    border: 1px solid #24c4c4;

    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;

    cursor: pointer;
    line-height: 1;
    white-space: nowrap;

    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.25);
    box-shadow: 0 0 2px rgba(0,0,0,.25);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



    .ui-widget-content a[role="button"]:hover,
    .ui-widget-content a[role="button"]:focus,
    .ui-widget-content a[role="button"]:active,
    [role="button"]:hover,
    [role="button"]:focus,
    [role="button"]:active,
    .module-controls [role="button"]:hover,
    .module-controls [role="button"]:focus,
    .module-controls [role="button"]:active {
        color: #fff;
        background-color: #29dbdb;
        border: 1px solid #29dbdb;
        text-decoration: none;
    }

.module-form-cancel-btn {
    background-color: #fff;
    color: #75767b;
}
    .module-form-cancel-btn:hover,
    .module-form-cancel-btn:focus,
    .module-form-cancel-btn:active{
        background-color: #29dbdb;
        color: #fff;
    }


    /* button icons */

    .decommission-btn,
    /*.view-btn,
    .create-btn,
    .update-btn,*/
    .approve-btn,
    .communicate-btn,
    .connect-btn,
    .update-password-btn,
    .module-form-save-btn,
    .module-form-cancel-btn,
    .delete-btn,
    .read-btn,
    .set-btn,
    .back-btn,
    #get-concentrator-configuration,
    #get-concentrator-version,
    .dialog-ok-btn,
    .dialog-yes-btn,
    .dialog-no-btn {
        background-position: 0 50%;
        background-repeat: no-repeat;

        -webkit-background-size: 2em 2em;
        -moz-background-size: 2em 2em;
        -o-background-size: 2em 2em;
        background-size: 2em 2em;
    }
    .decommission-btn {
        background-image: url(/images/buttonIcons/switch.off.png);
    }
    /*.view-btn {
        background-image: url(/images/buttonIcons/page.text.png);
    }
    .create-btn {
        background-image: url(/images/buttonIcons/new.png);
    }
    .update-btn {
        background-image: url(/images/buttonIcons/edit.png);
    }*/

    .communicate-btn,
    .connect-btn {
        background-image: url(/images/buttonIcons/connect.png);
    }
    .update-password-btn {
        background-image: url(/images/buttonIcons/warning.png);
    }
    .module-form-save-btn {
        background-image: url(/images/buttonIcons/save.png);
    }
    .module-form-cancel-btn {
        background-image: url(/images/buttonIcons/cancel.png);
    }
    .delete-btn {
        background-image: url(/images/buttonIcons/delete.png);
    }
    .read-btn {
        background-image: url(/images/buttonIcons/inbox.out.png);
    }
    .set-btn {
        background-image: url(/images/buttonIcons/inbox.in.png);
    }
    .back-btn {
        background-image: url(/images/buttonIcons/arrow.left.png);
    }
    #get-concentrator-configuration {
        background-image: url(/images/buttonIcons/inbox.png);
    }
    #get-concentrator-version {
        background-image: url(/images/buttonIcons/information.png);
    }

    .dialog-ok-btn,
    .dialog-yes-btn,
    .dialog-no-btn {
        background-position: 0 50%!important;
        background-repeat: no-repeat!important;

        -webkit-background-size: 2em 2em!important;
        -moz-background-size: 2em 2em!important;
        -o-background-size: 2em 2em!important;
        background-size: 2em 2em!important;
    }
    .dialog-ok-btn,
    .dialog-yes-btn {
        background-image: url(/images/buttonIcons/thumbs.up.png)!important;
    }
    .dialog-no-btn {
        background-image: url(/images/buttonIcons/thumbs.down.png)!important;
    }
    /* END button icons */

/* form default buttons*/

.form-controls [role="button"].module-form-cancel-btn,
.form-controls [role="button"].module-form-cancel-btn:visited {
    color: #76777b;
    background-color: #ddd;
    border: 1px solid #bbb;
}
    .form-controls [role="button"].module-form-cancel-btn:hover,
    .form-controls [role="button"].module-form-cancel-btn:focus,
    .form-controls [role="button"].module-form-cancel-btn:active {
        color: #fff;
        background-color: #29dbdb;
        border: 1px solid #29dbdb;
    }

/* END form default buttons*/

/* END buttons */


/* END HEADER */


/* UI LOADER */
.main-loader {
    display: block;
    visibility: visible;
    z-index: 2147483647;
    background-color: rgba( 0, 0, 0, .7 );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.main-loader.hidden {
    display: none;
    visibility: hidden;
    z-index: -1;
    background-color: rgba(0,0,0,0);
}
    .ui-loader-message {
        box-sizing: border-box;
        color: #ffffff;
        display: block;
        font-size: 1.5em;
        left: 0;
        line-height: 1em;
        margin-top: -1em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        width: 100%;
    }

    /* mad loader */
    .ui-loader-anim {
        font-size: 1em;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #24c4c4;

        top: 50%;
        margin: -7em auto 0;

        -webkit-box-shadow: 0 0 1em #000;
        -moz-box-shadow: 0 0 1em #000;
        box-shadow: 0 0 1em #000;

        background: rgba(0, 0, 0, .4);

        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    .ui-loader-anim,
    .ui-loader-anim:after {
        border-radius: 50%;
        width: 12em;
        height: 12em;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /* end mad loader */
/* END UI LOADER */








.no-close .ui-dialog-titlebar-close {
    display: none;
}




/* Roles Management module */
    /* overrides for js tree */

.roleWrapperCont {
    position: relative;
    overflow: auto;
    min-height: 300px;
    height: 300px;
    clear: both;

    border: 1px solid #ddd;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
}
    .roleWrapper {
        position: relative;
        display: table;
        width: 100%;
        background: #fff;
    }
        .roleWrapperRow {
            display: table-row;
            width: 100%;
        }
            .rightSideFormNewRole {
                display: table-cell;
                width: 50%;
                padding: 1em;

                vertical-align: top;
            }
                .rightSideFormNewRole form {
                    position: relative;
                }
                .rightSideFormNewRole form.sticky {
                    position: fixed;
                    top: 0;
                }

                    .rightSideFormNewRole .form-field-label { text-align: left; }

            #Role-module .rightSideFormNewRole form { margin: 0; padding: 0;}
                #Role-module .rightSideFormNewRole .form-controls {
                    float: left;
                    padding: .5em .75em;
                    margin: 0;
                }
            #Role-module .rightSideFormNewRole .form-field-set {
                width: 100%;
                clear: both;
                float: none;
                margin: 0;
            }
                #Role-module .rightSideFormNewRole .form-field-set .form-field-label,
                #Role-module .rightSideFormNewRole .form-field-set .form-field-input{
                    display: block;
                    float: none;
                    clear: both;
                    width: 100%;
                    padding-left: 0;
                }

            #Role-module .jstree-default .jstree-themeicon {
                background: transparent url(/images/folderIcon24.png) no-repeat 50% 50%;
                -webkit-background-size: 22px 22px;
                -moz-background-size: 22px 22px;
                -o-background-size: 22px 22px;
                background-size: 22px 22px;
            }
                #Role-module .jstree-default .jstree-leaf .jstree-themeicon {
                    background: transparent url(/images/permissionIcon24.png) no-repeat 50% 50%;
                    -webkit-background-size: 22px 22px;
                    -moz-background-size: 22px 22px;
                    -o-background-size: 22px 22px;
                    background-size: 22px 22px;
                }
    /* END overrides for js tree */
/* END Roles Management module */


/* User Management module */

#roles-User-widget {
    float: right;
    clear: right;
    width: 68%;
    padding-top: .5em;
}
    #roles-User-widget label {
        color: #76777b;
    }

    .inputWithTwoActionButtons {
        display: block;
        clear: both;
        position: relative;
        overflow: hidden;
        padding: .125em 0;
    }
        .inputWithTwoActionButtons label,
        .inputWithTwoActionButtons input,
        .inputWithTwoActionButtons .button {
            float: left;
            max-width: 24%;
            margin-right: 1%;
        }
        .inputWithTwoActionButtons label {
            padding: .75em;
            min-width: 10em;
        }
        .inputWithTwoActionButtons .button {
            text-align: center;
            min-width: 5em;
        }
/* END User Management module */






/* Trafo Station module */
.form-field-set .jq-multi-autocomplete {
    clear: right;
    float: right;
    width: 68%;
}
/* END Trafo Station module */


.whiteBox {
    background: #fff;
    color: #76777b;
    overflow: hidden;

    margin-bottom: 1em;

    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
}

/* concentrator edit */
#transformerFeeders-Concentrator-widget {
    clear: right;
    float: right;
    width: 68%;
    padding-top: .5em;
}
/* END concentrator edit */

/* concentrator communication module */
    .whiteBox .communicationDetailsList {
        width: 50%;
        padding: 1em;
    }
        .whiteBox .communicationDetailsList.left {
            float: left;
            clear: left;
        }
        .whiteBox .communicationDetailsList.right {
             float: right;
             clear: right;
         }
    .communicationDetailsTitle {
        font-size: 1.25em; /* 20px */
        background-color: #ccc;
        padding: .8em;
        margin: 0;
        -webkit-border-radius: .375em .375em 0 0;
        -moz-border-radius: .375em .375em 0 0;
        border-radius: .375em .375em 0 0;
    }

    .getConcentratorConfigurationWrapper {
        margin-bottom: 1em;
        overflow: hidden;
    }
        .getConcentratorConfigurationWrapper .button {
            float: left;
            margin-left: .5em;
        }
        .getConcentratorConfigurationWrapper :first-child .button {
            margin-left: 0;
        }

    .communicationDetailsList {}
        .communicationDetailsList li {
            display: block;
            clear: both;
            overflow: hidden;
            padding: .5em 0;
            border-bottom: 1px dotted #ddd;
        }
        .communicationDetailsList li:last-child { border-bottom: none; }
            .communicationListDetail {
                font-weight: bold;
                float: left;
                clear: left;
                width: 49%;
            }
            .communicationListValue {
                font-weight: normal;
                float: right;
                clear: right;
                width: 49%;
            }
/* END concentrator communication module */


/* Dashboard */
#averagePowerConsumption {
    height: 75%;
}
    .highcharts-container {
        clear: both;
        width: 100%;
        position: relative;
    }
/* END Dashboard */


/* Deactivate Power module */
#switchOff-DeactivatePower-btn {
    float: left;
    clear: both;
}
/* END Deactivate Power module */



/* INSPIRE TREE */

.inspire-tree {
    clear: both;
}
    .inspire-tree [type="checkbox"] {
        left: 20px;
    }
/* END INSPIRE TREE */


@media screen and (max-width: 1024px) {

    .form-field-set .form-field-label {
        text-align: left;
    }

    /* set and formsets into 2 cols */
    .form-field-set:nth-child(odd),
    .form-field-set:nth-child(even) {
        width: 100%;
        clear: both;
        float: none;
        margin: 0;
    }

    .form-3-columns .form-field-set:nth-child(odd) {
        width: 48%;
        float: left;
        clear: left;
        margin: 0;
    }
    .form-3-columns .form-field-set:nth-child(even) {
        width: 48%;
        float: right;
        clear: right;
        margin: 0;
    }
    .form-3-columns .form-controls {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    /* set formsets into 1 full width col */
    .form-3-columns .form-field-set:nth-child(odd),
    .form-3-columns .form-field-set:nth-child(even),
    .form-3-columns .form-field-set {
        width: 100%;
        float: none;
        clear: both;
        margin-right: 0;
    }
    .form-3-columns .form-field-set:last-child {
        border-bottom: none;
    }
}

/* END MEDIA QUERIES */


.tooltipster-base {
    z-index: 100000;
}


#main-nav-sidebar-toggle-button {
    display: none;
}