#main-menu {
    float: right;
}

#main-menu li {
    background-color: #FFFFFF;
}

#main-menu .sfHover,  #main-menu .sfHover li:hover {
    background-color: #24c4c4;
}

#main-menu li a {
    color: #76777b;
    font-size: 1.1em;
}

#main-menu .sfHover > a:first-child, #main-menu .sfHover a:hover {
    color: #FFFFFF;
}

.sf-arrows .sf-with-ul:after {
    border-color: rgba(118, 119, 123, 0.5) transparent transparent;
}

.sf-arrows ul .sf-with-ul:after {
    border-color: transparent transparent transparent rgba(118, 119, 123, 0.5);    
}

