/* INSPIRE TREE */
.itree-menu a:hover{
    background: #B9E8E8;
    color: #A2DBDB;
}
.inspire-tree .title-wrap:hover + .wholerow {
    background: #B9E8E8;
}
.inspire-tree .selected > .title-wrap:hover + .wholerow,
.inspire-tree .selected > .wholerow {
    background: #A2DBDB;
}
/* END INSPIRE TREE */


/* NOTY COLOR OVERRIDES */
.noty-body{
    background-color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}
.noty-header{
    background-color: #E3ED25;
}
.activity-item{
    border-bottom: 3px solid #E3ED25;
}
.error-noty-box .noty-header{
    background-color: #EE3B24;
}
.error-noty-box .activity-item{
    border-bottom: 3px solid #EE3B24;
}
.error-noty-box span.icon{
    color: #EE3B24;
}
/*Warning Noty - yellow*/
.warning-noty-box .noty-header{
    background-color: #E3ED25;
}
.warning-noty-box .activity-item{
    border-bottom: 3px solid #E3ED25;
}
.warning-noty-box span.icon{
    color: #E3ED25;
}
/*Success Noty - green*/
.success-noty-box .noty-header{
    background-color: #A7ED25;
}
.success-noty-box .activity-item{
    border-bottom: 3px solid #A7ED25;
}
.success-noty-box span.icon{
    color: #A7ED25;
}
/*Info Noty - blue*/
.info-noty-box .noty-header{
    background-color: #24c4c4;
}
.info-noty-box .activity-item{
    border-bottom: 3px solid #24c4c4;
}
.info-noty-box span.icon{
    color: #24c4c4;
}
/*Loading Noty blue + loader bar*/
.loading-noty-box .noty-header{
    background-color: #24c4c4;
}
.loading-noty-box span.icon{
    color: #24c4c4;
}
.progress_bar{
    background: #24c4c4;
}
/* END NOTY COLOR OVERRIDES */


/* TABLE COLORS AND BORDERS */
table > tbody > tr > th,
table > thead > tr > th,
table > thead > tr > td {
    background: #e1e1e1 none repeat scroll 0 0;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #fff;
    border-top: 1px solid #dedede;
    color: #666;
    text-align: left;
}
table > thead > tr:nth-child(1) > th:first-child {
    border-left: 1px solid #dedede;
}
table > thead > tr:nth-child(1) > th:last-child {
    border-right: 1px solid #d8d8d8;
}
table > tbody > tr.jq-grid-row:hover > td {
    background: #e1eaea;
}
.jq-grid-header {

    background: #e1e1e1 none repeat scroll 0 0;
    box-shadow: none;
    color: #666;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    font-size: 1em;
    font-weight: bold;
}
.jq-grid-header:hover,
.jq-grid-header:focus,
.jq-grid-header:active {
    background: #24c4c4;
    color: #fff;
}

/* END TABLE COLORS AND BORDERS */


/* DATEPICKER */
.datepick-ctrl,
.datepick-nav {
    background-color: #24c4c4;
}
.datepick-month td .datepick-today {
    background-color: #24c4c4;
}
.datepick-month td .datepick-selected {
    background-color: #29DBDB;
}
a.datepick-cmd:hover,
.datepick-ctrl .datepick-cmd:hover,
.datepick-month td .datepick-highlight {
    background-color: #29DBDB;
}
/* END DATEPICKER */



.delete-button {
    background-color: #FF0000;
}

.delete-button:hover {
    background-color: #FF3D3D;
}


/* CUSTOM CHECKBOX */
.checkboxgroup-item input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.checkboxgroup-item label {
    background: transparent url(/images/customSelectOff.png) no-repeat scroll 0 50%;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 0.25em 1.5em !important;
    position: relative;
}
.checkboxgroup-item input[type="checkbox"]:checked + label {
    background: transparent url(/images/customSelectOn.png) no-repeat scroll 0 50%;
}

/* END CUSTOM CHECKBOX */

.approve-btn {
    background-color: #2F657A;
}

.button.approve-btn:hover, .button.approve-btn:focus, .button.approve-btn:active {
    background-color: #4798b8;
}

.view-btn {
    background-color: #44cc00;
}

.button.view-btn:hover, .button.view-btn:active {
    background-color: #4BE000;   
}


/*** TOOL TIP  ***/
.tooltipster-big.tooltipster-sidetip .tooltipster-box {
    font-size: 20px;
}

/**** TOOLTIPSTER SIDE TIP ERROR THEME  ****/
.tooltipster-error.tooltipster-sidetip .tooltipster-box {
    background: #FF0000 none repeat scroll 0 0;
    border: 2px solid #FF0000;
    border-radius: 8px;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #FF0000;
}

.tooltipster-error.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #FF0000;
}

/**** TOOLTIPSTER SIDE TIP GREEN THEME  ****/
.tooltipster-green.tooltipster-sidetip .tooltipster-box {
    background: #24c4c4 none repeat scroll 0 0;
    border: 2px solid #24c4c4;
    border-radius: 8px;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #24c4c4;
}

.tooltipster-green.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #24c4c4;
}

/**** TOOLTIPSTER SIDE TIP BLUE THEME  ****/
.tooltipster-blue.tooltipster-sidetip .tooltipster-box {
    background: #00B9E3 none repeat scroll 0 0;
    border: 2px solid #00B9E3;
    border-radius: 8px;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #00B9E3;
}

.tooltipster-blue.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #00B9E3;
}

/**** TOOLTIPSTER FOLLOWER BLUE THEME  ****/
.tooltipster-follower.tooltipster-blue .tooltipster-box {
    background: #00B9E3 none repeat scroll 0 0;
    border: 2px solid #00B9E3;
    border-radius: 8px;
}

/**** TOOLTIPSTER FOLLOWER GREEN THEME  ****/
.tooltipster-follower.tooltipster-green .tooltipster-box {
    background: #24c4c4 none repeat scroll 0 0;
    border: 2px solid #24c4c4;
    border-radius: 8px;
}


/**** TOOLTIPSTER FOLLOWER SCHEDULER YELLOW THEME  ****/
.tooltipster-follower.tooltipster-scheduler-yellow .tooltipster-box {
    background: #dec066 none repeat scroll 0 0;
    border: 2px solid #d6a100;
    border-radius: 8px;
}

/**** TOOLTIPSTER FOLLOWER SCHEDULER YELLOW WAITING THEME  ****/
.tooltipster-follower.tooltipster-scheduler-yellow-waiting .tooltipster-box {
    background: #fcf2d6 none repeat scroll 0 0;
    border: 2px solid #DEC066;
    border-radius: 8px;
}

.tooltipster-follower.tooltipster-scheduler-yellow-waiting .tooltipster-content {
    color: #DD6D06;
}

/**** TOOLTIPSTER FOLLOWER SCHEDULER GREEN THEME  ****/
.tooltipster-follower.tooltipster-scheduler-green .tooltipster-box {
    background: #2bb3b3 none repeat scroll 0 0;
    border: 2px solid #145252;
    border-radius: 8px;
}

/**** TOOLTIPSTER FOLLOWER SCHEDULER GREEN WAITING THEME  ****/
.tooltipster-follower.tooltipster-scheduler-green-waiting .tooltipster-box {
    background: #d8f8f8 none repeat scroll 0 0;
    border: 2px solid #1C8C8C;
    border-radius: 8px;
}

.tooltipster-follower.tooltipster-scheduler-green-waiting .tooltipster-content {
    color: #015555;
}

/**** TOOLTIPSTER FOLLOWER SCHEDULER GREEN THEME  ****/
.tooltipster-follower.tooltipster-scheduler-blue .tooltipster-box {
    background: #0AAEFF none repeat scroll 0 0;
    border: 2px solid #00689C;
    border-radius: 8px;
}

/**** TOOLTIPSTER FOLLOWER SCHEDULER BLUE WAITING THEME  ****/
.tooltipster-follower.tooltipster-scheduler-blue-waiting .tooltipster-box {
    background: #E6F6FF none repeat scroll 0 0;
    border: 2px solid #00AAFF;
    border-radius: 8px;
}

.tooltipster-follower.tooltipster-scheduler-blue-waiting .tooltipster-content {
    color: #00AAFF;
}


/**** TOOLTIPSTER FOLLOWER SCHEDULER GRAY THEME  ****/
.tooltipster-follower.tooltipster-scheduler-gray .tooltipster-box {
    background: #e2e2e2 none repeat scroll 0 0;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
}

.tooltipster-follower.tooltipster-scheduler-gray .tooltipster-content {
    color: #FFFFFF;
}


.feeder-live, .feeder-offline {
    font-weight: bold;
    font-size: 1.3em;
}

.grid-green-text, .feeder-live {
    color: #24c4c4;
}

.grid-red-text, .feeder-offline {
    color: #FF0000;
}

