#estimated-load-appliance-module {
    
}

#estimated-load-appliance-module .module-content-container {
    overflow: visible;
}

#estimated-load-appliance-all-content-holder {
    float: left;
    width: 60%;
}

#estimated-load-appliance-form-module {
    float: right;
    width: 40%;
}


#estimated-load-appliance-form-module .form-field-set {
    width: 100%;
}

#estimated-load-appliance-form-module .form-field-set label {
    text-align: left;
    width: 35%;
}

#estimated-load-appliance-form-module .form-field-set input,
#estimated-load-appliance-form-module .form-field-set select {
    width: 65%;
}