#total-load-holder {
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 3em;
    margin-top: 0.8em;
}


#total-load-holder .total-load-label {

}

#total-load-holder .total-load-value {

}

