#FeederLoad-module .date-range-display {
    margin-left: 30%;
}

#feeder-load-form {
    margin-left: 0.5em;
}

#feeder-load-form .submit-button {
    margin-right: 0.5em;
}

#feeder-load-form.form-field-set-label-top .form-field-set {
    padding: 0.5em 0.5em;
}

#feeder-load-form-module .module-header-container {
    display: none;
}