/***********************************************************************
                                LOGIN PAGE
***********************************************************************/

/* LOGIN screen */
.loginContainer {
    margin: auto;
    margin-bottom: 1em;
    max-width: 500px;
    min-width: 300px;
    border: none;
}
.loginLogoWrap {
    padding: 3em 0;
    margin: auto;
}
.loginLogoWrap img {
    display: block;
    margin: auto;
}
.login-form-holder {
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    overflow: hidden;

    padding: 0;
    background: #fff;

    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.25);
    box-shadow: 0 0 2px rgba(0,0,0,.25);

    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
}
.loginRedTitle {
    position: relative;
    text-align: center;
    color: #fff;
    background: #ee3b24;
    text-shadow: none;
    font-size: 2em;
    line-height: 1;
    padding: .65em;
    margin: 0;
    margin-bottom: 1em;

    -webkit-border-radius: .375em .375em 0 0;
    -moz-border-radius: .375em .375em 0 0;
    border-radius: .375em .375em 0 0;
}
.loginArrow {
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -1em;
    left:50%;
    margin-left: -.5em;

    border-top: .5em solid #ee3b24;
    border-bottom: .5em solid transparent;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
}

.login-form-holder form {
    padding: 1em;
}

.login-form-holder .loginButton {
    background: #24c4c4 none repeat scroll 0 0;
    clear: both;
    float: none;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 1em;
    width: 92%;
}

.login-form-holder .form-status-msg {
    margin: 0; 
}

.login-form-holder .form-field-input[type="text"],
.login-form-holder .form-field-input[type="password"]{
    background: #efefef;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;

    padding-left: 3em;
}
    .login-form-holder .form-field-input:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: transparent;
    }

#login-form .form-field-set {
    width: 100%;
    margin-top: 0.5em;
}

.login-form-holder .form-field-set .glyphicon {
    color: #24c4c4;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0.74em;
    position: absolute;
    z-index: 20;
}

.login-form-holder label {
    z-index: 20;
    padding: 10px 10px 5px;
    padding-left: 3em;
    top: 50%;
    margin-top: -.5em;

    left: 0;
    font-size: 1em;
    line-height: 1;
}

    .login-form-holder label.full-input {
        font-size: 11px;
        top: 18px;
    }


#login-form-error-message-container {
    color: red;
    text-align: center;
}

/* override green line animation width */
.login-form-holder .green-border.full {
    margin: auto;
    width: 97%;
    left: 0;
    right: 0;
}

/* END LOGIN screen */
