.jq-scheduler {
    margin-top: 2em;
}

#power-schedules-scheduler-tab-content {
    padding-left: 1em;
    padding-right: 1em;
}

#power-schedule-view-tab {
    margin-top: 1.6em;
}

#main-tab-content-holder {

}

#scheduler-controls-holder {
    margin-top: 2em;
}


#power-schedule-view-tab ul li span.span-btn {
    background-color: #777;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
    float: left;
}

#power-schedule-view-tab ul li span.span-btn:hover {
    background-color: #a6c143;
}

#power-schedule-filters-form-module #PowerScheduleForm-module {
    margin-top: 0.5em;
}

#power-schedule-filters-form-module {
    overflow: hidden;
}

#power-schedule-filters-form-module .form-field-set {
    margin-right: 0;
    padding-top: 0;
    padding-right: 0;
}

#power-schedule-filters-form-module form {
    float: left;
    margin-right: 1em;
    overflow: hidden;
}

#power-schedule-filters-form-module form .form-controls {
    width: 230px;
}

#power-schedule-filters-form-module form .form-controls .button {
    margin-left: 10px;
}

#power-schedule-filters-form-module .form-field-set {
    width: 12.5%;
    padding: 0 0.25em 1em;
}

#power-schedule-filters-form-module form .form-field-label {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0.5em;
    float: none;
    text-align: center;
}

.date-range-display {
    float: left;
    font-size: 2em;
    font-weight: bold;
    margin-left: 20%;
    overflow: hidden;
    padding: 0.155em;
}

.date-range-display .start-date,
.date-range-display .end-date {

}


.scheduler-event-tooltip-holder {

}

.scheduler-event-tooltip-item {
    overflow: hidden;
    padding: 0.2em 0.2em 0.5em;
}

.scheduler-event-tooltip-item-label {
    float: left;
    font-size: 1.2em;
    text-align: right;
    width: 50%;
}

.scheduler-event-tooltip-item-value {
    float: right;
    text-align: center;
    width: 50%;
    padding-right: 10px;
    font-weight: bold;
}

.scheduler-event-tooltip-powertype {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.scheduler-event-tooltip-powertype::first-letter {
    text-transform: uppercase;
}

.scheduler-event-tooltip-powertype {
    margin-bottom: 0.5em;
}

#PowerScheduleForm-module .form-controls-set {
    margin-bottom: 0;
}

#PowerScheduleForm-module .form-controls {
    padding-bottom: 0;
    margin-bottom: 0;
}