#forecast-details-table-holder {
    padding-right: 1em;
    padding-left: 1em;
    overflow: hidden;
    width: 100%;
}

#forecast-details-table-holder .title {
    font-size: 1.3em;
    padding: 1.5em;
    text-align: center;
}

#close-forecast-details-view-button {
    float: right;
    margin-right: 1em;
}

.power-forecast-table-holder {
    overflow: auto;
    margin-bottom: 2em;
}