{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}AdminPanelUserForm-module{% endblock %}
{% block moduleTitle %}User Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('firstName', 'First Name', '', 'AdminPanelUser') }}
    {{ formFields.textInputSet('lastName', 'Last Name', '', 'AdminPanelUser') }}
    {{ formFields.textInputSet('username', 'Username', '', 'AdminPanelUser') }}
    {{ formFields.textInputSet('email', 'Email', '', 'AdminPanelUser') }}
    {{ formFields.passwordInputSet('password', 'Password', '', 'AdminPanelUser') }}
    {{ formFields.passwordInputSet('repeatPassword', 'Repeat Password', '', 'AdminPanelUser') }}

    {% set isUserActiveSelectOptions = {
            0: {value: 'active', label: 'Active'},
            1: {value: 'inactive', label: 'Inactive'}
        }
    %}

    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'AdminPanelUser', isUserActiveSelectOptions) }}
    
    {{ formFields.widgetInput('roles', 'Roles', 'AdminPanelUser') }}

{% endblock %}