{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}ApplianceForm-module{% endblock %}
{% block moduleTitle %}Appliance Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('applianceType', 'Type', 'Select Type', 'Appliance') }}
    {{ formFields.textInputSet('make', 'Make', '', 'Appliance') }}
    {{ formFields.textInputSet('consumption', 'Consumption (Watts)', '', 'Appliance') }}

{% endblock %}