{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}ApplianceTypeForm-module{% endblock %}
{% block moduleTitle %}Appliance Type Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'ApplianceType') }}
    {{ formFields.widgetInput('customerCategories', 'Customer Category', 'ApplianceType') }}

{% endblock %}