{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}BusinessDistrictForm-module{% endblock %}
{% block moduleTitle %}Business District Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'BusinessDistrict') }}
    {{ formFields.selectInputSet('city', 'City', 'Select City', 'BusinessDistrict') }}
    {{ formFields.textInputSet('manager', 'Manager', '', 'BusinessDistrict') }}
    {{ formFields.textInputSet('phoneNumber', 'Phone Number', '', 'BusinessDistrict') }}
    {{ formFields.textInputSet('address', 'Address', '', 'BusinessDistrict') }}
    {{ formFields.textInputSet('code', 'Code', '', 'BusinessDistrict') }}

{% endblock %}