{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}CityForm-module{% endblock %}
{% block moduleTitle %}City Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'City') }}

{% endblock %}