{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}CustomerCategoryForm-module{% endblock %}
{% block moduleTitle %}Customer Category Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'CustomerCategory') }}
    {{ formFields.textInputSet('diversityFactor', 'Diversity Factor', '', 'CustomerCategory') }}

{% endblock %}