{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}CustomerNetworkDataForm-module{% endblock %}
{% block moduleTitle %}Customer Network Data Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('customer', 'Customer', '', 'CustomerNetworkData', 'Search...') }}

    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'CustomerNetworkData') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'CustomerNetworkData') }}
    {{ formFields.selectInputSet('powerTransformerFeeder', 'Power Transformer Feeder', 'Select Power Transformer Feeder', 'CustomerNetworkData') }}

    {{ formFields.textInputSet('highTensionPole', 'High Tension Pole', '', 'CustomerNetworkData', 'Search...') }}

    {{ formFields.textInputSet('distributionTransformer', 'Distribution Transformer', '', 'CustomerNetworkData', 'Search...') }}
    {{ formFields.selectInputSet('distributionTransformerFeeder', 'Distribution Transformer Feeder (Upriser)', 'Select Distribution Transformer Feeder', 'CustomerNetworkData') }}

    {{ formFields.textInputSet('lowTensionPole', 'Low Tension Pole', '', 'CustomerNetworkData', 'Search...') }}

{% endblock %}