{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}DistributionTransformerForm-module{% endblock %}
{% block moduleTitle %}Distribution Transformer Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'DistributionTransformer') }}

    {% set distributionTransformerStatusSelectOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'},
            2: {value: 'repairing', label: 'Repairing'}
        }
    %}

    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'DistributionTransformer', distributionTransformerStatusSelectOptions) }}

    {% set distributionTransformerTypeSelectOptions = {
            0: {value: 'PUBLIC', label: 'Public'},
            1: {value: 'PRIVATE', label: 'Private'}
        }
    %}

    {{ formFields.selectInputSet('type', 'Type', 'Select type', 'DistributionTransformer', distributionTransformerTypeSelectOptions) }}

    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'DistributionTransformer') }}
    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'DistributionTransformer') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'DistributionTransformer') }}

    {{ formFields.selectInputSet('inputFeeder', 'Power Transformer Feeder', 'Select Power Transformer Feeder', 'DistributionTransformer') }}
    {{ formFields.widgetInput('outputFeeders', 'Output Feeders', 'DistributionTransformer') }}

    {{ formFields.textInputSet('code', 'Code', '', 'DistributionTransformer') }}

{% endblock %}