{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}ElectricPoleForm-module{% endblock %}
{% block moduleTitle %}ELectric Pole Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('code', 'Code', '', 'ElectricPole') }}

    {% set electricPoleTypeSelectOptions = {
            0: {value: 'low-tension', label: 'Low Tension'},
            1: {value: 'high-tension', label: 'High Tension'}
        }
    %}

    {{ formFields.selectInputSet('type', 'Type', 'Select type', 'ElectricPole', electricPoleTypeSelectOptions) }}

    {% set electricPoleStatusSelectOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'},
            2: {value: 'repairing', label: 'Repairing'}
        }
    %}

    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'ElectricPole', electricPoleStatusSelectOptions) }}


    {{ formFields.textInputSet('address', 'Address', 'ElectricPole', '') }}

    {{ formFields.textInputSet('feeder', 'Feeder', 'ElectricPole', 'Search for feeder...') }}

{% endblock %}