{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}EstimatedLoadApplianceForm-module{% endblock %}
{% block moduleTitle %}Appliance Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formClass %}form-errors-vertical{% endblock %}

{% block formInputs %}

    {{ formFields.selectInputSet('applianceType', 'Appliance Type', 'Select Appliance Type', 'EstimatedLoadAppliance') }}
    {{ formFields.selectInputSet('appliance', 'Appliance', 'Select Appliance', 'EstimatedLoadAppliance') }}

    {{ formFields.textInputSet('applianceCount', 'Appliance Count', '', 'EstimatedLoadAppliance') }}
    {{ formFields.textInputSet('totalConsumption', 'Consumption (Watts)', '', 'EstimatedLoadAppliance') }}

{% endblock %}

{% block formControlButtons %}

    {{ formModule.formButton('form-save', 'Save', 'submit-button', 'glyphicon-saved') }}
    {{ formModule.formButton('form-reset', 'Reset', 'reset-button', 'glyphicon-ban-circle') }}

{% endblock %}