{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}EstimatedConsumptionForm-module{% endblock %}
{% block moduleTitle %}Estimated Consumption Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('customer', 'Customer', '', 'EstimatedConsumption', 'Search...') }}

    {{ formFields.textInputSet('start', 'Start', '', 'EstimatedConsumption') }}
    {{ formFields.textInputSet('end', 'End', '', 'EstimatedConsumption') }}

{% endblock %}