{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}EstimatedLoadForm-module{% endblock %}
{% block moduleTitle %}Estimated Load Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('customer', 'Customer', '', 'EstimatedLoad', 'Search...') }}

    {{ formFields.selectInputSet('customerCategory', 'Customer Category', 'Select Customer Category', 'EstimatedLoad') }}

{% endblock %}

{% block module %}

    {{ parent() }}

    <div id="estimated-load-appliance-module" data-module="Modules.EstimatedLoadAppliance"></div>

{% endblock %}