{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}FeederLoadForm-module{% endblock %}

{% block formClass %}form-field-set-label-top form-errors-vertical{% endblock %}

{% block formId %}feeder-load-form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'FeederLoad') }}
    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'FeederLoad') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'FeederLoad') }}
    {{ formFields.selectInputSet('powerTransformerFeeder', 'Power Transformer Feeder', 'Select Power Transformer Feeder', 'FeederLoad') }}

    {{ formFields.textInputSet('date', 'Date', '', 'FeederLoad') }}
    {{ formFields.textInputSet('time', 'Time', '', 'FeederLoad') }}
    {{ formFields.textInputSet('feederLoad', 'Load (kw)', '', 'FeederLoad') }}
    
{% endblock %}

{% import _self as formModule %}

{% block formControlButtons %}

    {{ formModule.formButton('form-save', 'Save', 'form-button submit-button', 'glyphicon-saved') }}
    {{ formModule.formButton('form-reset', 'Reset', 'form-button reset-button', 'glyphicon-ban-circle') }}

{% endblock %}