{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}FeederForm-module{% endblock %}
{% block moduleTitle %}Feeder Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'Feeder') }}

    {% set feederStatusSelectOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'},
            2: {value: 'repairing', label: 'Repairing'}
        }
    %}
    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'Feeder', feederStatusSelectOptions) }}

    
    {% set feederTypeSelectOptions = {
            0: {value: 'low-voltage', label: 'Low Voltage'},
            1: {value: 'high-voltage', label: 'High Voltage'}
        }
    %}
    {{ formFields.selectInputSet('type', 'Type', 'Select type', 'Feeder', feederTypeSelectOptions) }}


    {% set feederFormationSelectOptions = {
            0: {value: 'overhead', label: 'Overhead'},
            1: {value: 'underground', label: 'Underground'},
            2: {value: 'overhead-underground', label: 'Overhead and Underground'}
        }
    %}

    {{ formFields.selectInputSet('formation', 'Formation', 'Select formation', 'Feeder', feederFormationSelectOptions) }}


    {{ formFields.textInputSet('length', 'Length', '', 'Feeder') }}
    {{ formFields.widgetInput('streetCoverage', 'Street Coverage', 'Feeder') }}
    {{ formFields.textInputSet('code', 'Code', '', 'Feeder') }}
    {{ formFields.textInputSet('kilovolts', 'Kilovolts (kV)', '', 'Feeder') }}

{% endblock %}