{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}InjectionSubstationForm-module{% endblock %}
{% block moduleTitle %}Injection Substation Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'InjectionSubstation') }}
    {{ formFields.textInputSet('address', 'Address', '', 'InjectionSubstation') }}
    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'InjectionSubstation') }}
    {{ formFields.textInputSet('code', 'Code', '', 'InjectionSubstation') }}
    {{ formFields.selectInputSet('powerSource', 'Power Source', 'Select Power Source', 'InjectionSubstation') }}
    {{ formFields.widgetInput('inputFeeders', 'Power Source Feeders', 'InjectionSubstation') }}

{% endblock %}