{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}MeterForm-module{% endblock %}
{% block moduleTitle %}Meter Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {% set meterTypeOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'}
        }
    %}

    {{ formFields.selectInputSet('type', 'Type', 'Select type', 'Meter', meterTypeOptions) }}

    {% set meterStatusSelectOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'},
            2: {value: 'repairing', label: 'Repairing'}
        }
    %}

    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'Meter', meterStatusSelectOptions) }}

    {{ formFields.textInputSet('customer', 'Customer', 'Meter', '', 'Search...') }}    
    {{ formFields.textInputSet('distributionTransformer', 'Distribution Transformer', 'Meter', '', 'Search...') }}

    {{ formFields.selectInputSet('feeder', 'Feeder', 'Select Feeder', 'Meter') }}

    {{ formFields.textInputSet('serialNumber', 'Serial Number', '', 'Meter') }}
    

{% endblock %}