{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerSourceForm-module{% endblock %}
{% block moduleTitle %}Power Source Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'PowerSource') }}
    {{ formFields.textInputSet('capacity', 'Capacity (MW)', '', 'PowerSource') }}
    {{ formFields.textInputSet('address', 'Address', '', 'PowerSource') }}
    {{ formFields.widgetInput('outputFeeders', 'Output Feeders', 'PowerSource') }}

{% endblock %}