{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerScheduleForm-module{% endblock %}
{% block moduleTitle %}Power Schedule Form{% endblock %}

{% block formClass %}form-3-columns form-errors-vertical{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}
    
    {% set powerTypeOptions = {
            0: {value: 'national', label: 'National'},
            1: {value: 'captive', label: 'Captive'},
            2: {value: 'embedded', label: 'Embedded'}
        }
    %}

    {{ formFields.selectInputSet('powerType', 'Power Type', 'Select power type', 'PowerSchedule', powerTypeOptions) }}

    {{ formFields.selectInputSet('powerSource', 'Power Source', 'Select power source', 'PowerSchedule') }}

    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'PowerSchedule') }}
    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'PowerSchedule') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'PowerSchedule') }}
    {{ formFields.selectInputSet('powerTransformerFeeder', 'Power Transformer Feeder', 'Select Power Transformer Feeder', 'PowerSchedule') }}

    {{ formFields.textInputSet('distributionTransformer', 'Distribution Transformer', '', 'PowerSchedule', 'Search...') }}
    {{ formFields.selectInputSet('distributionTransformerFeeder', 'Distribution Transformer Feeder (Upriser)', 'Select Distribution Transformer Feeder', 'PowerSchedule') }}


    {{ formFields.textInputSet('date', 'Date', '', 'PowerSchedule') }}
    {{ formFields.textInputSet('startTime', 'Start Time', '', 'PowerSchedule') }}

    {{ formFields.textInputSet('endTime', 'End Time', '', 'PowerSchedule') }}

    {% set repeatTypeOptions = {
            0: {value: 'daily', label: 'Daily'},
            1: {value: 'weekly', label: 'Weekly'},
            2: {value: 'monthly', label: 'Monthly'}
        }
    %}

    {{ formFields.selectInputSet('repeatType', 'Repeat Type', 'Select repeat type', 'PowerSchedule', repeatTypeOptions) }}

    {{ formFields.textInputSet('repeatEnd', 'Repeat End', '', 'PowerSchedule') }}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="powerSchedules-PowerScheduleForm-scheduler"></div>
{% endblock %}