{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerTransformerForm-module{% endblock %}
{% block moduleTitle %}Power Transformer Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'PowerTransformer') }}

    {% set powerTransformerStatusSelectOptions = {
            0: {value: 'live', label: 'Live'},
            1: {value: 'offline', label: 'Offline'},
            2: {value: 'repairing', label: 'Repairing'}
        }
    %}

    {{ formFields.selectInputSet('status', 'Status', 'Select status', 'PowerTransformer', powerTransformerStatusSelectOptions) }}
    {{ formFields.textInputSet('injectionSubstation', 'Injection Substation', 'PowerTransformer', '', 'Search...') }}

    {{ formFields.widgetInput('outputFeeders', 'Output Feeders', 'PowerTransformer') }}

    {{ formFields.textInputSet('code', 'Code', '', 'PowerTransformer') }}

{% endblock %}