{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerActivateDeactivateForm-module{% endblock %}
{% block moduleTitle %}Power Activate/Deactivate Form{% endblock %}

{% block formClass %}form-field-set-label-top{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('businessDistrict', 'Business District', 'Select Business District', 'PowerActivateDeactivate') }}
    {{ formFields.selectInputSet('injectionSubstation', 'Injection Substation', 'Select Injection Substation', 'PowerActivateDeactivate') }}
    {{ formFields.selectInputSet('powerTransformer', 'Power Transformer', 'Select Power Transformer', 'PowerActivateDeactivate') }}
    
{% endblock %}

{% block formControlButtons %}

    {{ formModule.formButton('form-search-feeders', 'Search', 'submit-button search-feeders-button', 'glyphicon-search') }}

{% endblock %}

{% block moduleFooterContainer %}
    
    {{ parent() }}

    <table id="powerTransformerFeeders-PowerActivateDeactivateForm-grid"></table>

    <div class="form-field-set">

        <div class="form-controls">
        
            <span class="button submit-button" data-role="feeder-activate">
                <i class="glyphicon glyphicon-off"></i>
                <span class="button-label">Activate</span>
            </span>

            <span class="button submit-button deactivate-button" data-role="feeder-deactivate">
                <i class="glyphicon glyphicon-off"></i>
                <span class="button-label">Deactivate</span>
            </span>

            <span class="button close-button" data-role="form-close">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span class="button-label">Close</span>
            </span>
        </div>

    </div>

{% endblock %}
