{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerPurchaseForm-module{% endblock %}
{% block moduleTitle %}Power Purchase Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}
    
    {% set powerTypeOptions = {
            0: {value: 'national', label: 'National'},
            1: {value: 'captive', label: 'Captive'},
            2: {value: 'embedded', label: 'Embedded'},
        }
    %}

    {{ formFields.selectInputSet('powerType', 'Power Type', 'Select power type', 'PowerPurchase', powerTypeOptions) }}

    {{ formFields.selectInputSet('powerSource', 'From Source', 'Select Power Source', 'PowerPurchase') }}

    {{ formFields.textInputSet('amountPurchased', 'Amount Purchased (MW)', '', 'PowerPurchase') }}
    {{ formFields.textInputSet('datePurchased', 'Date Purchased', '', 'PowerPurchase') }}

{% endblock %}
