{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerAllocateForm-module{% endblock %}
{% block moduleTitle %}Power Allocate Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('powerForecast', 'Power Forecast', 'Select Power Forecast', 'PowerAllocate') }}
    {{ formFields.textInputSet('totalPowerAllocated', 'Available for Allocation MW', '', 'PowerAllocate') }}

    {% set businessDistrictsTable %}
        <table id="businessDistrictAllocations-PowerAllocateForm-grid"></table>
    {% endset %}

    {{ formFields.widgetInput('businessDistrictAllocations', '', 'PowerAllocate', '', businessDistrictsTable) }}

{% endblock %}

{% block footer %}

    {{ parent( )}}

<div id="confirm-power-allocate-popup"
    data-template="form-popup-template"
    data-content-template="form-popup-content-template"
    class="form-popup animated display-none confirm-popup"></div>

{% endblock %}

