{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}PowerForecastForm-module{% endblock %}
{% block moduleTitle %}Power Forecast Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.selectInputSet('powerPurchase', 'Power Purchase', 'Select Power Purchase', 'PowerForecast') }}
    {{ formFields.textInputSet('amountToForecast', 'Amount to Forecast (MW)', '', 'PowerForecast') }}

{% endblock %}
