{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}RoleForm-module{% endblock %}
{% block moduleTitle %}Role Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Role Name', '', 'Role') }}
    {{ formFields.widgetInput('permissions', 'Permissions', 'Role') }}

{% endblock %}