{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleId %}TariffForm-module{% endblock %}
{% block moduleTitle %}Tariff Form{% endblock %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% block formInputs %}

    {{ formFields.textInputSet('name', 'Name', '', 'Tariff') }}
    {{ formFields.textInputSet('code', 'Code', '', 'Tariff') }}
    {{ formFields.textInputSet('price', 'Price', '', 'Tariff') }}
    {{ formFields.textInputSet('averageConsumptionPerDay', 'Average Consumption Per Day kW/h', '', 'Tariff') }}
    {{ formFields.textInputSet('description', 'Description', '', 'Tariff') }}

{% endblock %}