{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleHeader %}

    {{ parent() }}

    {% block moduleControls %}

        <div class="module-controls">

            {% block moduleCrudControls %}

                <div class="module-crud-controls">

                        {% block moduleCrudControlsContent %}

                            {# This is a comment
                                <span data-role="record-details" class="button view-btn">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    Record Details
                                </span>
                            #}
                            
                            <span data-role="create-record" class="button create-btn">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                New
                            </span>
                            <span data-role="edit-record" class="button update-btn">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Edit
                            </span>

                        {% endblock %}
                    
                </div>

            {% endblock %}

            {% block moduleQuickSearch %}
                <div class="module-quick-search"></div>
            {% endblock %}

        </div>

    {% endblock %}

{% endblock %}


{% block content %}

    {% block mainViewComponentHolder %}

        <div class="main-view-component">

            {% block mainViewComponent %}{% endblock %}

            {#
                <div class="view-record-container">
                    {% block viewRecordTitle %}{% endblock %}
                    <div class="selected-record-view"></div>
                </div>
            #}

        </div>

    {% endblock %}

    <div id="grid-cell-edit-not-complete-popup"
        data-template="form-popup-template"
        data-content-template="form-popup-content-template"
        class="form-popup animated display-none confirm-popup"></div>

    <div id="record-delete-popup"
        data-template="form-popup-template"
        data-content-template="form-popup-content-template"
        class="form-popup animated display-none confirm-popup"></div>

{% endblock %}

{% block footer %}

    {% block paging %}
        <div class="module-paging-cnt"></div>
    {% endblock %}

    {#
        {% block viewRecordControls %}
            <div class="view-record-controls">
                <a role="button" class="button previous-record-btn">Previous record</a>
                <label class="current-record-label"></label>
                <a role="button" class="button next-record-btn">Next record</a>
            </div>
        {% endblock %}
    #}

{% endblock %}
