{% extends "SinglePageClientBundle:Default:formModule.html.twig" %}

{% block moduleHeaderContainer %}{% endblock %}

{% block moduleForm %}

        <form method="get"
              id="{% block formId %}{% endblock %}"
              class="crud-module-form filters-module-form {% block formClass %}{% endblock %}">

            {% block formInputs %}{% endblock %}

            {% block formControls %}
                <div class="form-field-set form-controls-set flters-controls {% block formControlsSetClass %}{% endblock %}">

                    <div class="form-controls">

                        {% block formControlButtons %}

                            {{ formModule.formButton('form-save', 'Search', 'form-button submit-button', 'glyphicon-search') }}
                            {{ formModule.formButton('form-reset', 'Reset', 'form-button reset-button', 'glyphicon-circle-arrow-left') }}

                        {% endblock %}

                    </div>
                </div>

            {% endblock %}

        </form>

    {% endblock %}

{% block moduleFooterContainer %}{% endblock %}