{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as formFields %}

{% macro formButton(role, label, class, iconClass) %}

    <span class="button {{class}}" data-role="{{role}}">
        <i class="glyphicon {{iconClass}}"></i>
        <span class="button-label">{{label}}</span>
    </span>

{% endmacro %}

{% import _self as formModule %}

{% block content %}
    
    {% block moduleForm %}

        <form method="post"
              id="{% block formId %}{% endblock %}"
              class="crud-module-form {% block formClass %}{% endblock %}">
            {% block formInputs %}{% endblock %}

            {% block formControls %}
                <div class="form-field-set form-controls-set {% block formControlsSetClass %}{% endblock %}">

                    <div class="form-controls">
                        {% block formControlButtons %}

                            {{ formModule.formButton('form-save', 'Save', 'form-button submit-button', 'glyphicon-saved') }}
                            {{ formModule.formButton('form-close', 'Close', 'form-button close-button', 'glyphicon-ban-circle') }}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

        </form>

    {% endblock %}

    <div id="close-form-popup"
        data-template="form-popup-template"
        data-content-template="form-popup-content-template"
        class="form-popup animated display-none confirm-popup"></div>

{% endblock %}