{% macro textInputSet(name, label, value, nameSpace, placeHolder, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}" data-field-name="{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="text" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input" placeholder="{{placeHolder}}" />
    </div>

{% endmacro %}

{% macro passwordInputSet(name, label, value, nameSpace, placeHolder, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}" data-field-name="{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="password" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input" placeholder="{{placeHolder}}" />
    </div>

{% endmacro %}

{% macro textAreaInputSet(name, label, value, nameSpace, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}" data-field-name="{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="password" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input">
    </div>

    <textarea id="{{name}}-{{nameSpace}}-input" name="{{ name }}" class="form-field-input"></textarea>
{% endmacro %}

{% macro selectInputSet(name, label, defaultOptionLabel, nameSpace, selectOptions, class) %}
    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}" data-field-name="{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <span class="select-container">
            <select id="{{name}}-{{nameSpace}}-input" name="{{ name }}" class="form-field-input">
                <option value="" selected>{{defaultOptionLabel}}</option>

                {% for opt in selectOptions %}
                    <option value="{{opt.value}}">{{opt.label}}</option>
                {% endfor %}

            </select>
        </span>
    </div>
{% endmacro %}

{% macro widgetInput(name, label, nameSpace, class, content) %}
    <div class="form-field-set form-field-widget-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}" data-field-name="{{name}}"></span>
        <label for="{{name}}-{{nameSpace}}-widget" class="form-field-label form-field-widget-label">{{ label }}</label>
        <div id="{{name}}-{{nameSpace}}-widget" class="form-field-widget" data-field-name="{{name}}">{{ content }}</div>
    </div>
{% endmacro %}