<div id="{% block moduleId %}Generic{% endblock %}"
     class="module-holder {% block moduleClass %}{% endblock %}"
     data-module-holder="{% block moduleHolder %}{% endblock %}">
    
    {% block module %}

        {% block moduleHeaderContainer %}
            <div class="module-header-container">
                {% block moduleHeader %}
                    {% block moduleTitleContainer %}
                        <h2 class="moduleTitle">{% block moduleTitle %}{% endblock %}</h2>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
        
        {% block moduleContentContainer %}
            <div class="module-content-container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block moduleFooterContainer %}
            <div class="module-footer-container">
                {% block footer %}{% endblock %}
            </div>
        {% endblock %}

    {% endblock %}

</div>