{% block defaultJavascriptTemplates %}

{% verbatim %}

    <script id="noty-error-notification" type="text/x-handlebars-template">
        
        <div class="noty-body error-noty-box">
            <div class="noty-header"></div>
            <div class="activity-item">
                <div class="activity">
                    <span class="icon icon-26 info"></span>
                    <span class="noty-text-message">{{{message}}}</span>
                    <span class="icon icon-18 noty_close"></span>
                </div>
            </div>
        </div>

    </script>

{% endverbatim %}


{% verbatim %}

    <script id="noty-warning-notification" type="text/x-handlebars-template">

        <div class="noty-body warning-noty-box">
            <div class="noty-header"></div>
            <div class="activity-item">
                <div class="activity">
                    <span class="icon icon-2 info"></span>
                    <span class="noty-text-message">{{{message}}}</span>
                    <span class="icon icon-18 noty_close"></span>
                </div>
            </div>
        </div>

    </script>

{% endverbatim %}

{% verbatim %}

    <script id="noty-information-notification" type="text/x-handlebars-template">
        
        <div class="noty-body info-noty-box">
            <div class="noty-header"></div>
            <div class="activity-item">
                <div class="activity">
                    <span class="icon icon-2 info"></span>
                    <span class="noty-text-message">{{{message}}}</span>
                    <span class="icon icon-26 noty_close"></span>
                </div>
            </div>
        </div>

    </script>
{% endverbatim %}

{% verbatim %}

    <script id="noty-success-notification" type="text/x-handlebars-template">

        <div class="noty-body success-noty-box">
            <div class="noty-header"></div>
            <div class="activity-item">
                <div class="activity">
                    <span class="icon icon-27 info"></span>
                    <span class="noty-text-message">{{{message}}}</span>
                    <span class="icon icon-26 noty_close"></span>
                </div>
            </div>
        </div>

    </script>

{% endverbatim %}

{% verbatim %}

    <script id="noty-loader-notification" type="text/x-handlebars-template">
        
        <div class="noty-body loading-noty-box">
            <div class="noty-header"></div>
            <div class="loading" id="loader-{{loaderId}}">
                <div class="progress">
                    <div class="progress_bar stripes">
                        <span></span>
                    </div>
                    <div id="prog_status"></div>
                </div>
            </div>

            <div class="activity-item">
                <div class="activity">
                    <span class="icon icon-28 info"></span>
                    <span class="noty-text-message">{{{message}}}</span>
                    <span class="icon icon-18 noty_close"></span>
                </div>
            </div>
        </div>

    </script>

{% endverbatim %}

{% endblock %}