{% block viewRecordDetailsTemplates %}

{{ '<script id="view-record-details-template" type="text/x-handlebars-template">
    
    <div class="record-view-inner">

        {{#each records}}
            <div class="record-view-field-set">
                <label class="record-view-label record-view-label-id">{{label}}</label>
                <div class="record-view-value record-view-value-id">{{value}}</div>
            </div>
        {{/each}}
        
    </div>

</script>' | raw }}

{% endblock %}