/***********************************************************************
                                COLLAPSE
***********************************************************************/
.collapse-item{
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 5px;
    z-index: 1;
}
.collapse-item:hover{
    webkit-box-shadow: 0px 1px 3px #BBB;
    -moz-box-shadow: 0px 1px 3px #BBB;
    -ms-box-shadow: 0px 1px 3px #BBB;
    -o-box-shadow: 0px 1px 3px #BBB;
    box-shadow: 0px 1px 3px #BBB;
    z-index: 2;
}
.collapse-item-header{
    cursor: pointer;
    padding: 15px 0;
    color: #555;
    background: #eee;
}
.collapse-item-body{
    height: 0;
    overflow: hidden;
}
.collapse-item-body.collapse-in{
    height: auto;
}