.checkboxgroup-item {
    padding: .375em .75em;

    white-space: nowrap;
    word-break: keep-all;

    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    transition: all .15s;
}
.checkboxgroup-item:hover {
    background-color: #e1eaea;
}

.checkboxgroup-item input,
.checkboxgroup-item label {
    display: inline-block;

    margin: 0;
    cursor: pointer;
}

.checkboxgroup-item label {
    font-weight: bold;
    padding-left: .5em;
}

.checkboxgroup-items-holder {
    margin-top: 10px;
}