table {
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0;
    background: none;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
    table-layout: fixed;
}
    table td {
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        -ms-transition: all .4s;
        transition: all .4s;
    }
    table > tbody > tr > td {
        background: #fff;
        padding: 0.58em;
        font-size: 1em;
        vertical-align: middle;
        line-height: 1.25;
        border: none;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        color: #555555;
        text-align: center;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    table > tbody > tr > td:first-child {
        border-left: 1px solid #e1e1e1;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > thead > tr > td {
        color: #fff;
        background: #485566;
        border-top: 1px solid #485566;
        border-right: 1px solid #637388;
        border-bottom: none;
        text-align: center;
    }
    table > thead > tr:nth-child(1) > th:last-child {
        border-right: 1px solid #dedede;
    }
    table > thead > tr:nth-child(1) > th:first-child {
        border-left: 1px solid #485566;
    }
        table > thead > tr:nth-child(1) > td:nth-child(1),
        table > thead > tr:nth-child(1) > th:nth-child(1){
            -webkit-border-radius: 3px 0 0 0;
            -moz-border-radius: 3px 0 0 0;
            border-radius: 3px 0 0 0;
        }
        table > thead > tr:nth-child(1) > td:last-child,
        table > thead > tr:nth-child(1) > th:last-child{
            -webkit-border-radius: 0 3px 0 0;
            -moz-border-radius: 0 3px 0 0;
            border-radius: 0 3px 0 0;
        }
        table > tbody > tr:last-child > td:nth-child(1),
        table > tbody > tr:last-child > th:nth-child(1){
            -webkit-border-radius: 0 0 0 3px;
            -moz-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
        }
        table > tbody > tr:last-child > td:last-child,
        table > tbody > tr:last-child > th:last-child {
            -webkit-border-radius: 0 0 3px 0;
            -moz-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
        }
        table > tbody > tr:last-child > td.jq-grid-cell-spanned-empty {
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
        }
        table > thead > tr > td.jq-grid-header-id,
        table > tbody > tr > td.jq-grid-cell-id {
            text-align: center;
        }
            .jq-grid-empty-title {
                margin: 0;
                padding: 1em;
                text-align: center;
            }

    td.cell-edit {
        padding: 10px;
        background-color: white;
        position: relative;
    }
    table > tbody > tr.jq-grid-selected-row > td, table > tbody > tr.jq-grid-selected-row:hover > td.cell-edit{
        background: #F3F3F3;
    }
    .cell-edit-input {
        background-color: rgb(255, 255, 255);
        border-bottom: 2px solid #24c4c4;
        color: #555;
        font-size: 1em;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    /* responsive table */
    .table-wrapper-out {
        width: 100%;
        position: relative;
        clear: both;
        display: inline-block;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        padding-left: 1em;
        padding-right: 1em;
    }
        .table-wrapper{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            margin: 0;
            overflow: auto;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        }
        .select-box-wrap .table-wrapper{
            overflow: visible;
        }
        .table-wrapper-fade,
        .table-wrapper-fade-left {
            bottom: 0;
            content: "";
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 2.5em;
            z-index: 1;

            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(244,244,244,1) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(244,244,244,1)));
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
            background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
            background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4',GradientType=1 );
        }
        .table-wrapper-fade-left {
            left: 0;
            right: auto;

            background: -moz-linear-gradient(left,  rgba(244,244,244,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,0)));
            background: -webkit-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to right,  rgba(244,244,244,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#00ffffff',GradientType=1 );
        }
        .show_right_fade .table-wrapper-fade,
        .show_left_fade .table-wrapper-fade {
            display: block;
        }
        .show_right_fade:not(.has_vertical_scrollbar) .table-wrapper-fade {
            right: 0 !important;
        }
        .has_vertical_scrollbar.show_right_fade .table-wrapper-fade,
        .has_vertical_scrollbar.show_left_fade .table-wrapper-fade-left {
            height: auto;
        }
        .table-wrapper table{
            width: 100%;
            margin-bottom: 0; 
        }
    /* END responsive table */



    .tableButton {
        float: left;
        margin: .125em;
        padding: .5em 2em;
    }


/* table head buttons */
.jq-grid-header {
    padding: 0;
    position: relative;
    vertical-align: middle;

    cursor: pointer;
    line-height: 1;
    margin: 0;
    text-align: center;
    white-space: normal;
    border-radius: 0;
    color: #fff;
    background: #485566;
    padding: 0;
    line-height: 130%;
    height: 100%;
    padding: 0.50em;

    transition: background-color 0.26s, color 0.26s;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
        .jq-grid-header:hover,
        .jq-grid-header:focus,
        .jq-grid-header:active {
            background: #647488;
        }

        .jq-grid-header.jq-grid-column-sort.jq-grid-column-sort-asc {
            background-image: url(/images/sortDownTableIcon.png);
            background-position: 95% 50%;
            background-repeat: no-repeat;
        }
        .jq-grid-header.jq-grid-column-sort.jq-grid-column-sort-desc {
            background-image: url(/images/sortUpTableIcon.png);
            background-position: 95% 50%;
            background-repeat: no-repeat;
        }
/* END table head buttons */

table > tbody > tr.jq-grid-row:hover > td {
    background: #F1F1F1;
}
table > tbody > tr.jq-grid-row:hover > td.jq-grid-cell-spanned-empty {
    cursor: default;
    background: #fff;
}
    table > tbody > tr.jq-grid-selected-row > td,
    table > tbody > tr.jq-grid-selected-row:hover > td {
        background: #eee;
        color: #828282;
    }

    .stickyTableHead {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

td.jq-grid-cell-spanned-empty {
    padding: 1.8em;
}

.jq-grid-cell-message-container {
    width: 0px;
    height: 0px;
}

.cell-error-holder {
    background: #fff0f0 none repeat scroll 0 0;
    color: #b94a48;
    padding: 0.5em;
    position: absolute;
    border-radius: 5px;
    width: -moz-min-content;
    width: -webkit-min-content;
    white-space: nowrap;
    border: 2px solid #c20000;
    z-index: 1000;
}

.cell-error-holder.box-arrow-right:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff0f0;
}

.cell-error-holder.box-arrow-left:after {
    border-color: rgba(0, 0, 0, 0) #fff0f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.cell-error-holder ul{
    padding: 5px 0;
}

.cell-error-holder ul li {

}


.table-blocked {
    pointer-events: none;
}

.jq-grid-lock-container {

    background-color: rgba(255,255,255, 0.5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 1em;
    pointer-events: none;
    position: absolute;
    right: 1em;
    top: 0;
    transition: all 0.2s ease 0s;
    visibility: visible;
    z-index: 100000;
}
    .lock-grid-message {
        box-sizing: border-box;
        color: #000000;
        font-size: 1em;
        left: 0;
        line-height: 0.8em;
        margin-top: -0.5em;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 10px #ffffff;
        top: 50%;
        width: 100%;
    }

    .lock-grid-animation {
        animation: 1.1s linear 0s normal none infinite running load-doughnut;
        background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #24c4c4;
        border-style: solid;
        border-width: 0.62em;
        box-shadow: 0 0 1em #000;
        font-size: 1em;
        margin: -3.5em auto 0;
        position: relative;
        text-indent: -9999em;
        top: 50%;
    }
    
    /* mad loader */
    .lock-grid-animation, .lock-grid-animation::after {
        border-radius: 50%;
        height: 7em;
        width: 7em;
    }

    @-webkit-keyframes load-doughnut {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load-doughnut {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    /* end mad loader */
/* END UI LOADER */

       