.jq-multi-autocomplete {
    position: relative;
    overflow: hidden;
    list-style: none;
}

    .jq-multi-autocomplete.multi-autocomplete-widget-grid ul {
        
        padding: 15px;
    }
        .jq-mac-item,
        .jq-mac-input-item {
            position: relative;
            margin: 2px 0;
            padding: 0;

            -webkit-border-radius: .1875em;
            -moz-border-radius: .1875em;
            border-radius: .1875em;

            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -o-transition: all .2s;
            -ms-transition: all .2s;
            transition: all .2s;

            color: #525252;
        }
        .jq-mac-input-item { padding: 0; }

            .jq-mac-item:hover,
            .jq-mac-input-item:hover {
                background: #ddd;
            }

            .jq-mac-item-number {
                display: block;
                font-weight: bold;
                line-height: 1;
                padding: .75em .125em;
                white-space: nowrap;
                width: 2.5em;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                border-right: 2px solid #f4f4f4;
                vertical-align: middle;
                background: #ccc;

                -webkit-border-radius: .1875em 0 0 .1875em;
                -moz-border-radius: .1875em 0 0 .1875em;
                border-radius: .1875em 0 0 .1875em;
            }
                .jq-mac-item-number:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }

        .jq-mac-remove-item-btn,
        .jq-mac-item-add-btn {
            font-size: 1em;
            padding: 1em;
            cursor: pointer;
        }
        .jq-mac-remove-item-btn {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -14px;
            display: block;
            background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
            width: 27px;
            height: 27px;
            text-indent: -9999999px;
            padding: .5em;
        }
            .jq-mac-remove-item-btn:hover,
            .jq-mac-remove-item-btn:focus,
            .jq-mac-remove-item-btn:active {
                opacity: 1;
            }

        .jq-mac-item-add-btn {
            position: absolute;
            z-index: 50;
            top: 50%;
            right: 0;
            margin-top: -14px;
            display: block;
            width: 27px;
            height: 27px;
            line-height: 27px;
            padding: 0 .5em;
            text-align: center;

            color: #24c4c4;
            border: 1px solid #24c4c4;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
            .jq-mac-item-add-btn:hover,
            .jq-mac-item-add-btn:focus,
            .jq-mac-item-add-btn:active {
                opacity: 1;
            }

        .jq-mac-input-item .jq-mac-search-input {
            height: 2.3em;
            margin: 0 0 0 2.5em;
            border: none;
            -webkit-border-radius: 0 .1875em .1875em 0;
            -moz-border-radius: 0 .1875em .1875em 0;
            border-radius: 0 .1875em .1875em 0;
            width: calc(100% - 2.5em);
            padding-left: 10px;
        }
            .jq-mac-input-item .jq-mac-search-input:focus {
                -webkit-box-shadow: inset 0 0 2px #24c4c4;
                -moz-box-shadow: inset 0 0 2px #24c4c4;
                box-shadow: inset 0 0 2px #24c4c4;
            }
        .jq-mac-item-label {
            display: block;
            padding: .75em 2.5em .75em 3em;
            background: #fff;
            font-weight: bold;
        }

        .ui-autocomplete {
            z-index: 10000000;
        }
