.jq-paginator {
	clear: both;
    display: block;
    float: left;
    line-height: 1;
    margin-bottom: 2em;
    overflow: hidden;
    vertical-align: middle;
}
	.jq-paginator:before,
	.jq-paginator:after {
		content: " ";
		display: table;
	}
	.jq-paginator:after {
		clear: both;
	}

	.jq-paginator > * {
	    float: left;
	    font-size: 1em;
	}
	.jq-paginator-page-number-wrapper {
		position: relative;
	}
		.jq-paginator label {
			display: block;
			float: left;
			font-size: 1em;
			padding: .75em;

			white-space: nowrap;
			word-break: keep-all;

			color: #E1E1E1;
			background-color: #fff;

            border: 1px solid #c2c2c2;
            border-left: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;

			height: 2.63em;
		}

			.jq-paginator .jq-paginator-page-number {
				font-size: 1em;
				width: auto;
				max-width: 6em;
				height: 2.63em;
				float: left;

				color: #0bc4c5;

				border: 1px solid #c2c2c2;
				border-right: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;

				text-align: right;
			}
			.jq-paginator .jq-paginator-page-number:focus,
			.jq-paginator .jq-paginator-page-number:focus + label {
				border-color: #24c4c4;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
			.jq-paginator .jq-paginator-page-number:focus {
				border-right: none;
			}
			.jq-paginator .jq-paginator-page-number:focus + label {
				border-left: none;
			}

            .jq-paginator .jq-paginator-button {
                border-radius: 0;
                border: 1px solid #c2c2c2;
                border-right: 0;
            }
            .jq-paginator .jq-paginator-first-page {
                border-radius: 6px 0 0 6px;
            }
            .jq-paginator .jq-paginator-next-page {
                border-left: 0;
            }
            .jq-paginator .jq-paginator-last-page {
                border-radius: 0 6px 6px 0;
                border-right: 1px solid #c2c2c2;
            }

			.jq-paginator a,
			.jq-paginator a:visited {
				margin: 0;
				color: #0bc4c5;

				border: 1px solid #c2c2c2;
				border-left: none;

				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
			}
				.jq-paginator a:hover,
				.jq-paginator a:focus,
				.jq-paginator a:active {
					background: #0bc4c5;
					color: #fff;
				}

				.jq-paginator a.inactive:visited,
				.jq-paginator a.inactive:hover,
				.jq-paginator a.inactive:focus,
				.jq-paginator a.inactive:active {
					opacity: 1;
					background: #F4F4F4;
					color: #83C4C4;
					border: 1px solid #c2c2c2;
					border-left: none;
				}
			.jq-paginator a:first-child,
			.jq-paginator a.inactive:first-child {
				-webkit-border-radius: 6px 0 0 6px;
				-moz-border-radius: 6px 0 0 6px;
				border-radius: 6px 0 0 6px;
				border-left: 1px solid #c2c2c2;
			}
			.jq-paginator a:last-child,
			.jq-paginator a.inactive:last-child {
				-webkit-border-radius: 0 6px 6px 0;
				-moz-border-radius: 0 6px 6px 0;
				border-radius: 0 6px 6px 0;
			}
			.jq-paginator .jq-paginator-button {
				font-size: 1.25em;
				font-weight: bold;
				padding: .5em 1em;
			}
