.jq-quick-search-input {

    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 0.375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #75767b;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    height: auto;
    line-height: 1em;
    outline: medium none;
    padding: 0.75em;
    float: left;
}

.jq-quick-search-reset-button {
    -moz-user-select: none;
    background-color: #24c4c4;
    background-image: url("/images/buttonIcons/refresh.counterclockwise.down.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 3.5em auto;
    border: 1px solid #24c4c4;
    border-radius: 0.375em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 1;
    margin-left: 0.5em;
    padding: 0.75em;
    text-align: right;
    white-space: nowrap;
    width: 110px;
}