.popup-widget-holder {
    background-color: #fff;
    color: #828282;
    position: absolute;
    z-index: 1000;

    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.popup-contros-holder {
    min-width: 200px;
    padding: 10px 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.popup-button {
    -moz-user-select: none;
    background-color: #24c4c4;
    border-radius: 0.375em;
    color: #fff;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.75em;
    white-space: nowrap;
}

.popup-cancel-button {
    float: left;
    background-color: red;
}

.popup-save-button {
    float: right;
}